{% extends "base.html" %}

{% block title %} Welsh Quizzes: the home of Welsh trivia {% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style>
    #credit {
        font-size: small;
    }
</style>

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.5/examples/carousel/carousel.css" rel="stylesheet">

<div class="container">
  
<div class="container text-center">
    <h1 class="mt-5">Blog</h1>
</div>

 <!-- START THE FEATURETTES -->

 <hr class="featurette-divider">

 <div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Wales' Finest Castle: <span class="text-muted">Conwy.</span></h2>
    <p class="lead">Perched majestically above the river, Conwy castle is a wonderful sight to behold, dominating the local landscape and forming an integral part of Edward I's Ring of Iron. With the mountans of Snowdonia behind, a Thomas Telford bridge infront and amazing town walls stretching out from within, it is hard to argue that this is one of the finest castles in Britain.</p>
    <a href="{{ url_for('shortblogentry', blogName='bestCastle') }}"><button type="button" class="btn btn-outline-primary">Continue reading</button></a>
   </div>
  <div class="col-md-5">
   <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Conwy-08.jpg" alt="conwy castle" class="img-fluid" width="500" height="500">
<p class="text-muted" id="credit">Tilman2007 license CC BY-SA 3</p>    
</div>
</div>


 <hr class="featurette-divider">

 <div class="row featurette">
   <div class="col-md-7">
     <h2 class="featurette-heading">Clwydian Range: <span class="text-muted">AONB.</span></h2>
     <p class="lead">Nestled in the far north east of Wales and forming an imposing barrier between England and Wales, the Clwyds are one of five Areas of Outstanding Natural Beauty in Wales. Read more about their beauty in this blog entry.</p>
     <a href="{{ url_for('blogentry', blogName='clwydsBlog') }}"><button type="button" class="btn btn-outline-primary">Continue reading</button></a>
    </div>
   <div class="col-md-5">
    <img src="https://live.staticflickr.com/7079/7203521926_74ed514c89_b.jpg" alt="clwydian hills" class="img-fluid" width="500" height="500">
<p class="text-muted" id="credit">paul_p! license CC BY 2</p>    
</div>
 </div>

 <hr class="featurette-divider">

 <div class="row featurette">
   <div class="col-md-7 order-md-2">
     <h2 class="featurette-heading">Wales: <span class="text-muted">Land of the castle.</span></h2>
     <p class="lead">With more castles per square km than any another country on earth, Wales is the perfect place to explore the fortifications of times gone by. Whether its Norman castles, White castles, Welsh castles or Private castles, read this blog to find out all you need to know.</p>
     <a href="{{ url_for('blogentry', blogName='landOfTheCastle') }}"><button type="button" class="btn btn-outline-primary">Continue reading</button></a>
   </div>
   <div class="col-md-5 order-md-1">
   <img src="https://live.staticflickr.com/3040/2641555563_6d93719793_b.jpg" alt="welsh castle" class="img-fluid" width="500" height="500">
<p class="text-muted" id="credit">rakugo license CC BY 2</p>   
</div>
 </div>

 <hr class="featurette-divider">

 <div class="row featurette">
   <div class="col-md-7">
     <h2 class="featurette-heading">M4: <span class="text-muted">Severn Bridges.</span></h2>
     <p class="lead">Two majestic pieces of civil engineering spanning the Severn between England and Wales, these bridges dominate the local landscape and form a perfect way to enter into Wales. Read more about their history and importance in this blog entry.</p>
     <a href="{{ url_for('blogentry', blogName='m4') }}"><button type="button" class="btn btn-outline-primary">Continue reading</button></a>
   </div>
   <div class="col-md-5">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Severn_Bridge_-_panoramio.jpg" class="img-fluid" alt="severn bridge" width="500" height="500">
    <p class="text-muted" id="credit">Matt Prosser license CC BY-SA 3</p>
</div>
 </div>

 <hr class="featurette-divider">

 <!-- /END THE FEATURETTES -->


</div>

{% endblock %}