{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <h1 class="mt-5">Blog</h1>
</div>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h2 class="mt-5">{{ myObject.title }}</h2>
      <p class="lead">{{ myObject.text[0] }}</p>
      <h3>{{ myObject.caption[0] }}</h3>
      <img src="{{ myObject.image[0] }}" class="img-fluid" alt="">
      <p class="text-center">{{ myObject.credit[0] }}</p>
      <p></p>
      <p class="lead">{{ myObject.text[1] }}</p>
      <h3>{{ myObject.caption[1] }}</h3>
      <img src="{{ myObject.image[1] }}" class="img-fluid" alt="">
      <p class="text-center">{{ myObject.credit[1] }}</p>
      <p></p>
      <p class="lead">{{ myObject.text[2] }}</p>
      <h3>{{ myObject.caption[2] }}</h3>
      <img src="{{ myObject.image[2] }}" class="img-fluid" alt="">
      <p class="text-center">{{ myObject.credit[2] }}</p>
      <hr>
      </div>

</main>

{% endblock %}