{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Culture / Diwylliant</h1>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
        <a href="#music" class="btn btn-outline-success my-2">Music</a>
        <a href="#language" class="btn btn-outline-success my-2">Language</a>
        <a href="#film" class="btn btn-outline-success my-2">Film</a>
        <a href="#tv" class="btn btn-outline-success my-2">TV</a>
        <a href="#language" class="btn btn-outline-success my-2">Literature</a>

      </p>
    </div>
  </section>

  <a name="music"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Music</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2011/2047752607_2a61f3356f_b.jpg" alt="welsh music venues" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">alterna2 license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshVenues') }}"><p class="card-text text-center btn-outline-danger btn-lg">Music venues</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2817/11330730473_6093fabbdd_b.jpg" alt="stereophonics albums" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">mattbuck4950 license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='stereophonicsAlbum') }}"><p class="card-text text-center btn-outline-danger btn-lg">Stereophonics: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2118/2048532054_dddde08458_b.jpg" alt="super furry animals albums" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">alterna2 license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='sfAlbums') }}"><p class="card-text text-center btn-outline-danger btn-lg">Super Furries: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2844/11623018576_f9b6e630b4_b.jpg" alt="catatonia singles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Andy Hay license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='catSingles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Catatonia: singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7188/13878748685_2e739607f0_b.jpg" alt="manic street preachers albums" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Ungry Young Man license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='manicsAlbums') }}"><p class="card-text text-center btn-outline-danger btn-lg">Manics: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://farm8.staticflickr.com/7389/26740500683_64363d0072_b.jpg" alt="manic street preachers singles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Ungry Young Man license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='manicsTop5') }}"><p class="card-text text-center btn-outline-danger btn-lg">Manics: top 5 singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<a name="language"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Language & Literature</h2>
      <hr>

      <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://live.staticflickr.com/65535/32770650157_f6a98ecc88_b.jpg" alt="welsh numbers" width="100%" height="225">
          <p class="text-right font-weight-light" style="color: darkgray;">waddavies license CC0 1</p>
          <div class="card-body">
            <a href="{{ url_for('tenquiz', quizName='welshNumbers') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Numbers: 1-10</p></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3791/9428984646_35178c3f78_b.jpg" alt="top welsh authors" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">O3D license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='welshAuthors') }}"><p class="card-text text-center btn-outline-danger btn-lg">Top Welsh Authors</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7026/6561622991_3fc0431aea_b.jpg" alt="common welsh words" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">carlmorris license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='commonWords') }}"><p class="card-text text-center btn-outline-danger btn-lg">Most Common Words</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/81/250356921_597b14587b_b.jpg" alt="roald dahl best selling books" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">JohnGreenaway license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('tenquiz', quizName='roaldDahl') }}"><p class="card-text text-center btn-outline-danger btn-lg">Roald Dahl Books</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/2910/14154926029_c4510febfe_b.jpg" alt="welsh castle" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">J.B_Photography license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshNouns') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Nouns</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;"></p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshPlaces') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Places</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>

  <a name="film"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Film</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3660/3402908956_800dfec24b.jpg" alt="welsh film" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Sergio R. Nuñez C license CC BY-ND 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz2', quizName='nameTheFilm') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the film</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3033/2612863340_b8e97c81bc_b.jpg" alt="catherine zeta-jones" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">nancyesmith license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='zetaJones') }}"><p class="card-text text-center btn-outline-danger btn-lg">Catherine Zeta-Jones</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1268/4664396317_6b9fb46084_b.jpg" alt="welsh film" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">ampersandyslexia license CC BY-SA 2.</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz2', quizName='nameTheFilmII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the film II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="tv"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>TV</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
              <div class="card-body">
                <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="text-muted">
    <div class="container text-center">
        <p>Love Scottish trivia? Visit our sister site: <a href="https://www.weequiz.com">weequiz.com</a></p>
       <a href="#">Back to top</a>
    </div>
  </footer>

{% endblock %}