{% extends "base.html" %}

{% block head %} <meta name="description" content="Beautiful, interactive & free Welsh culture quizzes."> {% endblock %}


{% block title %} Welsh Culture Quizzes {% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Culture / Diwylliant</h1>
      <p class="lead">A thriving Welsh Culture is at the heart of modern 21st century Wales. You might find it in the bar at <b>Chapter</b> or in the fields of the <b>Eisteddfodau</b> or perhaps in the corridors of the <b>Senedd</b> or the halls of the <b>Wales Millenium Centre</b> or through the growing everyday usage of <b>yr iaith cymraeg</b>.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
        <a href="#music" class="btn btn-outline-success my-2">Welsh Music Quizzes</a>
        <a href="#language" class="btn btn-outline-success my-2">Welsh Language Quizzes</a>
        <a href="#film" class="btn btn-outline-success my-2">Welsh Film Quizzes</a>
        <a href="#tv" class="btn btn-outline-success my-2">Welsh TV Quizzes</a>
        <a href="#language" class="btn btn-outline-success my-2">Welsh Literature Quizzes</a>

      </p>
    </div>
  </section>

  <a name="music"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh Music Quizzes</h2>
      <p class="lead">From <b>Cool Cymru</b> to the No. 1. Singles of <b>Tom Jones</b>, from <b>male voice choirs</b> to the dulcet tones of <b>Cerys Matthews</b> on 6 Music - Wales is a land famous for its musical soul. Explore Wales' wonderful musical heritage in the quizzes below!</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='musicEasy') }}"><p class="card-text text-center btn-outline btn-lg">Welsh music: easy</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1421217336522-861978fdf33a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="easy welsh music quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='musicMedium') }}"><p class="card-text text-center btn-outline btn-lg">Welsh music: medium</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1495305379050-64540d6ee95d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="medum welsh music quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='musicFiendish') }}"><p class="card-text text-center btn-outline btn-lg">Welsh music: fiendish</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshVenues') }}"><p class="card-text text-center btn-outline btn-lg">Music venues</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1471614654469-512ee6a4397a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh music venues" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='stereophonicsAlbum') }}"><p class="card-text text-center btn-outline btn-lg">Stereophonics: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1502773860571-211a597d6e4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="stereophonics albums" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='sfAlbums') }}"><p class="card-text text-center btn-outline btn-lg">Super Furries: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="super furry animals albums" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-2">
        </div>
    
      <div class="col-md-8">
      <div class="container text-center">
        <h3><b>Did you know?</b></h3>
        <p class="lead">Welsh band <b>Catatonia</b> had their first chart success when their single <b>You've got a lot to answer for</b> reached the Top 40 in 1996. They would later go on to have 10 Top 40 Singles.</p>
      </div>
      </div>
    
      <div class="col-md-2">
      </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='catSingles') }}"><p class="card-text text-center btn-outline btn-lg">Catatonia: singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1551864246-7abc88142cc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="catatonia singles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='manicsAlbums') }}"><p class="card-text text-center btn-outline btn-lg">Manics: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1459305272254-33a7d593a851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="manic street preachers albums" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='manicsTop5') }}"><p class="card-text text-center btn-outline btn-lg">Manics: top 5 singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1523713947078-b1787c791b96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1057&q=80" alt="manic street preachers singles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='thousandTrees') }}"><p class="card-text text-center btn-outline btn-lg">Thousand Trees: lyrics</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1464375117522-1311d6a5b81f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="stereophonics thousand trees lyrics quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='wordGetsAround') }}"><p class="card-text text-center btn-outline btn-lg">Word Gets Around</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1455997299803-0c4649ca02fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80" alt="stereophonics: word gets around quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='designForLife') }}"><p class="card-text text-center btn-outline btn-lg">Design for Life: lyrics</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1487702232819-65ae859daf8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="manics: design for life lyrics quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='coolCymru') }}"><p class="card-text text-center btn-outline btn-lg">Cool Cymru: bands</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1483069125343-4ef290c07840?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="cool cymru music quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('fifteenquiz', quizName='superFurrySingles') }}"><p class="card-text text-center btn-outline btn-lg">SFA: singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1506423456648-c11ccb27338d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="super furry animals top 30 singles quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName='mulderScully') }}"><p class="card-text text-center btn-outline btn-lg">Mulder & Scully: lyrics</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1516924962500-2b4b3b99ea02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" width="100%" height="225">
          </div>
        </div>

      </div>
    </div>
  </div>

<a name="language"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh Language & Literature Quizzes</h2>
      <p class="lead">As if our very own language - <b>Yr Iaith Cymraeg</b> - wasn't enough, we have also been home to <b>famous poets</b> and <b>childrens writers</b>. Explore this rich lyrical heritage below!</p>
      <hr>

      <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('tenquiz', quizName='welshNumbers') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Numbers: 1-10</p></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1549319692-4ce3a9c2e1a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="welsh numbers" width="100%" height="225">
        </div>
      </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='welshAuthors') }}"><p class="card-text text-center btn-outline btn-lg">Top Welsh Authors</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" alt="top welsh authors" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='welshRoadSigns') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Road Signs</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1486575713174-36c0bfafb068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh road signs quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='welshWords') }}"><p class="card-text text-center btn-outline btn-lg">Really Welsh Words</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="welsh words quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='welshPlacenames') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Placenames</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1545244407-25f1617c865b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="welsh placenames quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='commonWords') }}"><p class="card-text text-center btn-outline btn-lg">Most Common Words</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1497122123454-d63853ca2d39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="common welsh words" width="100%" height="225">
          </div>
        </div>


        <div class="col-md-2">
        </div>
    
      <div class="col-md-8">
      <div class="container text-center">
        <h3><b>Did you know?</b></h3>
        <p class="lead">The Bible was first translated into Welsh in 1588 by William Morgan. The Welsh spoken today, however, differs greatly from the form, called Early Modern Welsh, used by Morgan.</p>
      </div>
      </div>
    
      <div class="col-md-2">
      </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('tenquiz', quizName='roaldDahl') }}"><p class="card-text text-center btn-outline btn-lg">Roald Dahl Books</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1540593151139-583128ef5a84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="roald dahl best selling books" width="100%" height="225">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshNouns') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Nouns</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1523281407698-d23331543d99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh castle" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='welshVerbs') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Verbs</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1530804458434-67fe207c3a71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh castle" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='welshVerbs2') }}"><p class="card-text text-center btn-outline btn-lg">Wesh Verbs II</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1567019778516-d1db44e32904?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh castle" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='welshVerbs3') }}"><p class="card-text text-center btn-outline btn-lg">Welsh verbs III</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1565027611724-872b32145b11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh castle" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='dylanThomas') }}"><p class="card-text text-center btn-outline btn-lg">Dylan Thomas</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1528885332190-49a2027070a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Dylan Thomas quiz" width="100%" height="225">
            </div>
          </div>
  
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('smallquiz', quizName='dylanThomasPoems') }}"><p class="card-text text-center btn-outline btn-lg">Poems of Dylan Thomas</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1534430480872-3498386e7856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Poems of Dylan Thomas quiz" width="100%" height="225">
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('smallquiz', quizName='roaldCharacters') }}"><p class="card-text text-center btn-outline btn-lg">Roald Dahl Characters</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
                <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1511381939415-e44015466834?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1138&q=80" alt="roald dahl characters quiz" width="100%" height="225">
              </div>
            </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshPlaces') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Places</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1533896809143-03b930aefbc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" alt="welsh places quiz" width="100%" height="225">
            </div>
          </div>
          </div>
          </div>
          </div>

  <a name="film"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh Film Quizzes</h2>
      <p class="lead">Whilst Welsh film stars might be surprisingly common these days - and no it's not all <b>Anthony Hopkins</b> and <b>Catherine Zeta-Jones</b>! - there is also a small but growing collection of domestic Welsh cinema - think <b>Patagonia</b> or <b>Submarine</b>. Explore both phenomena below!</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz2', quizName='nameTheFilm') }}"><p class="card-text text-center btn-outline btn-lg">Name the film</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh film" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='zetaJones') }}"><p class="card-text text-center btn-outline btn-lg">Catherine Zeta-Jones</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="catherine zeta-jones" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz2', quizName='nameTheFilmII') }}"><p class="card-text text-center btn-outline btn-lg">Name the film II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1040&q=80" alt="welsh film" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-2">
        </div>
    
      <div class="col-md-8">
      <div class="container text-center">
        <h3><b>Did you know?</b></h3>
        <p class="lead">Michael Sheen lived in LA for two decades before recently returning to his native South Wales to pursue new projects.</p>
      </div>
      </div>
    
      <div class="col-md-2">
      </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='nameTheActors') }}"><p class="card-text text-center btn-outline btn-lg">Name the actor</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1527979809431-ea3d5c0c01c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1084&q=80" alt="welsh actors quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='nameTheActorII') }}"><p class="card-text text-center btn-outline btn-lg">Name the actor II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1493804714600-6edb1cd93080?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh actors quiz II" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='actorsCymraeg') }}"><p class="card-text text-center btn-outline btn-lg">Welsh-speaking actors</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1460881680858-30d872d5b530?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Welsh-speaking actors quiz" width="100%" height="225">
          </div>
        </div>

      </div>
    </div>
  </div>

  <a name="tv"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh TV Quizzes</h2>
      <p class="lead">Forced to watch <b>Rownd a Rownd</b> in my welsh classes, I'm glad to report that there has been significant and sustained improvement in Welsh TV Dramas (and, more importantly their budget) - <b>Hinterland</b>, anyone? So <b>keep the faith</b> and try one of our quizzes below!</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='nameTheSeries') }}"><p class="card-text text-center btn-outline btn-lg">Name the series</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1545244407-25f1617c865b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="name the Welsh tv series quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='nameTheSeriesII') }}"><p class="card-text text-center btn-outline btn-lg">Name the series II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1478029038552-886ff55b44d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="name the Welsh tv series II quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='nameTheSeriesIII') }}"><p class="card-text text-center btn-outline btn-lg">Name the series III</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1489753735160-2cbf3d9006d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="name the Welsh TV series III quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-2">
        </div>
    
      <div class="col-md-8">
      <div class="container text-center">
        <h3><b>Did you know?</b></h3>
        <p class="lead">Hinterland - or Y Gwyll in its native Welsh - was the first BBC Television Drama to feature both English and Welsh when it aired in 2014 (it had debuted on the Welsh language channel S4C in 2013).</p>
      </div>
      </div>
    
      <div class="col-md-2">
      </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('smallquiz', quizName='actorByCharacter') }}"><p class="card-text text-center btn-outline btn-lg">Actor by character</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1594101236305-037fa463b9b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Welsh actor by tv character quiz" width="100%" height="225">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='characterByActor') }}"><p class="card-text text-center btn-outline btn-lg">Character by actor</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1486575713174-36c0bfafb068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="name the character by Welsh actor quiz" width="100%" height="225">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='tvActor') }}"><p class="card-text text-center btn-outline btn-lg">Name the actor</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1591284946046-eaacd8207c22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="name the Welsh actor quiz" width="100%" height="225">
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}