{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Culture / Diwylliant</h1>
      <p class="lead">A thriving Welsh Culture is at the heart of modern 21st century Wales. You might find it in the bar at <b>Chapter</b> or in the fields of the <b>Eisteddfodau</b> or perhaps in the corridors of the <b>Senedd</b> or the halls of the <b>Wales Millenium Centre</b> or through the growing everyday usage of <b>yr iaith cymraeg</b>.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
        <a href="#music" class="btn btn-outline-success my-2">Music</a>
        <a href="#language" class="btn btn-outline-success my-2">Language</a>
        <a href="#film" class="btn btn-outline-success my-2">Film</a>
        <a href="#tv" class="btn btn-outline-success my-2">TV</a>
        <a href="#language" class="btn btn-outline-success my-2">Literature</a>

      </p>
    </div>
  </section>

  <a name="music"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Music</h2>
      <p class="lead">From <b>Cool Cymru</b> to the No. 1. Singles of <b>Tom Jones</b>, from <b>male voice choirs</b> to the dulcet tones of <b>Cerys Matthews</b> on 6 Music - Wales is a land famous for its musical soul. Explore Wales' wonderful musical heritage in the quizzes below!</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2011/2047752607_2a61f3356f_b.jpg" alt="welsh music venues" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">alterna2 license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshVenues') }}"><p class="card-text text-center btn-outline-danger btn-lg">Music venues</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2817/11330730473_6093fabbdd_b.jpg" alt="stereophonics albums" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">mattbuck4950 license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='stereophonicsAlbum') }}"><p class="card-text text-center btn-outline-danger btn-lg">Stereophonics: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2118/2048532054_dddde08458_b.jpg" alt="super furry animals albums" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">alterna2 license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='sfAlbums') }}"><p class="card-text text-center btn-outline-danger btn-lg">Super Furries: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2844/11623018576_f9b6e630b4_b.jpg" alt="catatonia singles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Andy Hay license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='catSingles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Catatonia: singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7188/13878748685_2e739607f0_b.jpg" alt="manic street preachers albums" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Ungry Young Man license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='manicsAlbums') }}"><p class="card-text text-center btn-outline-danger btn-lg">Manics: albums</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://farm8.staticflickr.com/7389/26740500683_64363d0072_b.jpg" alt="manic street preachers singles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Ungry Young Man license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='manicsTop5') }}"><p class="card-text text-center btn-outline-danger btn-lg">Manics: top 5 singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7703/17138498595_a521661b72_b.jpg" alt="stereophonics thousand trees lyrics quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Shamraze/Nuhaize license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='thousandTrees') }}"><p class="card-text text-center btn-outline-danger btn-lg">Thousand Trees: lyrics</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/5754/22706555231_09e8bbba8f_b.jpg" alt="stereophonics: word gets around quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Viking Visual license CC BY-ND 2</p>
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='wordGetsAround') }}"><p class="card-text text-center btn-outline-danger btn-lg">Word Gets Around: songs</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/65535/49966564336_52141866c4_b.jpg" alt="manics: design for life lyrics quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Capt' Gorgeous license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='designForLife') }}"><p class="card-text text-center btn-outline-danger btn-lg">Design for Life: lyrics</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="http://s0.geograph.org.uk/geophotos/03/66/80/3668005_ef01748c.jpg" alt="cool cymru music quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Julian P Guffogg license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='coolCymru') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cool Cymru: bands</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/5667/22279826100_40baec6cb9_b.jpg" alt="super furry animals top 30 singles quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Davmi Pics license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('fifteenquiz', quizName='superFurrySingles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Super Furries top 30 singles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/North_West_Police_Underwater_Search_%26_Marine_Unit_RIB.JPG" alt="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Mark_Hemans (talk) (Uploads) license CC0 1</p>
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName='mulderScully') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mulder & Scully: lyrics</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<a name="language"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Language & Literature</h2>
      <p class="lead">As if our very own language - <b>Yr Iaith Cymraeg</b> - wasn't enough, we have also been home to <b>famous poets</b> and <b>childrens writers</b>. Explore this rich lyrical heritage below!</p>
      <hr>

      <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://live.staticflickr.com/65535/32770650157_f6a98ecc88_b.jpg" alt="welsh numbers" width="100%" height="225">
          <p class="text-right font-weight-light" style="color: darkgray;">waddavies license CC0 1</p>
          <div class="card-body">
            <a href="{{ url_for('tenquiz', quizName='welshNumbers') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Numbers: 1-10</p></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3791/9428984646_35178c3f78_b.jpg" alt="top welsh authors" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">O3D license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='welshAuthors') }}"><p class="card-text text-center btn-outline-danger btn-lg">Top Welsh Authors</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7026/6561622991_3fc0431aea_b.jpg" alt="common welsh words" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">carlmorris license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='commonWords') }}"><p class="card-text text-center btn-outline-danger btn-lg">Most Common Words</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/81/250356921_597b14587b_b.jpg" alt="roald dahl best selling books" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">JohnGreenaway license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('tenquiz', quizName='roaldDahl') }}"><p class="card-text text-center btn-outline-danger btn-lg">Roald Dahl Books</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/2910/14154926029_c4510febfe_b.jpg" alt="welsh castle" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">J.B_Photography license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshNouns') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Nouns</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/8214/8328787501_8c3ddff19f_b.jpg" alt="Dylan Thomas quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">anterotesis license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='dylanThomas') }}"><p class="card-text text-center btn-outline-danger btn-lg">Dylan Thomas</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
  
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="http://s0.geograph.org.uk/geophotos/02/75/53/2755341_5a1b04f4.jpg" alt="Poems of Dylan Thomas quiz" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Gordon Griffiths license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('smallquiz', quizName='dylanThomasPoems') }}"><p class="card-text text-center btn-outline-danger btn-lg">Poems of Dylan Thomas</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Roald_Dahl_Place_Night_3_%282992617038%29.jpg" alt="roald dahl characters quiz" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Tony Hisgett Birmingham, UK license CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('smallquiz', quizName='roaldCharacters') }}"><p class="card-text text-center btn-outline-danger btn-lg">Roald Dahl Characters</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/8821/27942340660_1e76281094_b.jpg" alt="welsh places quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Reading Tom license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='welshPlaces') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Places</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>

  <a name="film"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Film</h2>
      <p class="lead">Whilst Welsh film stars might be surprisingly common these days - and no it's not all <b>Anthony Hopkins</b> and <b>Catherine Zeta-Jones</b>! - there is also a small but growing collection of domestic Welsh cinema - think <b>Patagonia</b> or <b>Submarine</b>. Explore both phenomena below!</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3660/3402908956_800dfec24b.jpg" alt="welsh film" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Sergio R. Nuñez C license CC BY-ND 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz2', quizName='nameTheFilm') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the film</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3033/2612863340_b8e97c81bc_b.jpg" alt="catherine zeta-jones" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">nancyesmith license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='zetaJones') }}"><p class="card-text text-center btn-outline-danger btn-lg">Catherine Zeta-Jones</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1268/4664396317_6b9fb46084_b.jpg" alt="welsh film" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">ampersandyslexia license CC BY-SA 2.</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz2', quizName='nameTheFilmII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the film II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Barry_Island_%2819244201275%29.jpg" alt="welsh actors quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Jeremy Segrott license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='nameTheActors') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the actor</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8825/27944198700_9388026853_b.jpg" alt="welsh actors quiz II" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Reading Tom license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='nameTheActorII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the actor II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/105/294629692_508a0db976_b.jpg" alt="Welsh-speaking actors quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Ancient Brit. license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='actorsCymraeg') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh-speaking actors</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <a name="tv"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>TV</h2>
      <p class="lead">Forced to watch <b>Rownd a Rownd</b> in my welsh classes, I'm glad to report that there has been significant and sustained improvement in Welsh TV Dramas (and, more importantly their budget) - <b>Hinterland</b>, anyone? So <b>keep the faith</b> and try one of our quizzes below!</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3079/2473550471_04898803aa_b.jpg" alt="name the Welsh tv series quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Mike Gogulski license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='nameTheSeries') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the series</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8804/17609933826_34016eb65f_b.jpg" alt="name the Welsh tv series II quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">baltoji license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='nameTheSeriesII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the series II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2896/14756286425_e347552683_b.jpg" alt="name the Welsh TV series III quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Nigel Swales license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='nameTheSeriesIII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the series III</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Taf_Estuary_at_Laugharne_%285891%29.jpg" alt="Welsh actor by tv character quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Nilfanion license CC BY-SA 4</p>
                <div class="card-body">
                  <a href="{{ url_for('smallquiz', quizName='actorByCharacter') }}"><p class="card-text text-center btn-outline-danger btn-lg">Actor by character</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/4335/36930563171_22117e9369_b.jpg" alt="name the character by Welsh actor quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">garryknight license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='characterByActor') }}"><p class="card-text text-center btn-outline-danger btn-lg">Character by actor</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
  
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/3931/15262080019_118588958c_b.jpg" alt="name the Welsh actor quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Grish616 license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='tvActor') }}"><p class="card-text text-center btn-outline-danger btn-lg">Name the actor</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <footer class="text-muted">
    <div class="container text-center">
        <p>Love Scottish trivia? Visit our sister site: <a href="https://www.weequiz.com">weequiz.com</a></p>
       <a href="#">Back to top</a>
    </div>
  </footer>

{% endblock %}