{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <h1 class="mt-5">Contact the team</h1>
</div>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h2 class="mt-5">Get in contact</h2>
      <p class="lead">Got a question for us? Want to get in touch? Have some feedback you'd like to share? Then use the contact form below and we'll promise to get back in touch as soon as we can.</p>
    </div>
    <hr>
    <div class="container text-center">
      <a href="mailto:theteam@weequiz.com?subject=Email the team" class="btn btn-outline-success btn-block mb-2">Email the team</a>
</div>
  </main>

{% endblock %}