{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <h1 class="mt-5">Errata</h1>
</div>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h2 class="mt-5">Found an error?</h2>
      <p class="lead">Found an error? Tell us and we'll fix it as soon as we can.</p>
      <hr>
      <div class="container text-center">
        <a href="mailto:weequiz@gmail.com?subject=I found an error" class="btn btn-outline-success btn-block mb-2">Report an error</a>
      <hr>
      </div>
    </div>
  </main>

{% endblock %}