{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>General Knowledge / Gwybodaeth Gyffredinol</h1>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
        <a href="#five" class="btn btn-outline-success my-2">Top Fives</a>
        <a href="#ten" class="btn btn-outline-success my-2">Top Tens</a>
        <a href="#twenty" class="btn btn-outline-success my-2">Top Twenties</a>
      </p>
    </div>
  </section>


  <a name="five"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Top Fives</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
              <div class="card-body">
                <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group text-center">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<a name="ten"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Top Tens</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
              <div class="card-body">
                <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group text-center">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="twenty"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Top Twenties</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
              <div class="card-body">
                <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group text-center">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"></p>
            <div class="card-body">
              <a href="{{ url_for('culture') }}"><p class="card-text text-center btn-outline-danger btn-lg"></p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-muted">
    <div class="container text-center">
        <p>Love Scottish trivia? Visit our sister site: <a href="https://www.weequiz.com">weequiz.com</a></p>
       <a href="#">Back to top</a>
    </div>
  </footer>

{% endblock %}