{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Geography / Daearyddiaeth</h1>
      <p class="lead">Landscapes.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
      <a href="#quick" class="btn btn-outline-success my-2">Quick Quizzes</a>
        <a href="#ten" class="btn btn-outline-success my-2">Top Tens</a>
        <a href="#picture" class="btn btn-outline-success my-2">Picture Quizzes</a>
      </p>
    </div>
  </section>

  <a name="quick"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Quick Quizzes</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/2754/5708164292_48106be390_b.jpg" alt="Highest five mountains in wales" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">nathanrjones1979 license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='fiveMountains') }}"><p class="card-text text-center btn-outline-danger btn-lg">Five Highest Mountains</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="http://s0.geograph.org.uk/photos/00/81/008189_0528b4f7.jpg" alt="welsh rivers quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">dave roberts license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='welshRivers') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Rivers</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/5600/15275126510_415facb5cb_b.jpg" alt="welsh bridges quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">muffinn license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshBridges') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Bridges</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3646/3360606523_1daa27bc01_b.jpg" alt="welsh mountain ranges quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Steve 2.0 license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshMountainAreas') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Mountain Areas</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/8454/8032381020_7cf0413782_b.jpg" alt="five longest rivers in wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">@HfdsCouncil license CC BY-ND 2</p>
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveRivers') }}"><p class="card-text text-center btn-outline-danger btn-lg">Five Longest Rivers</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/3017/2902463288_5f0d2303b2_b.jpg" alt="" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Dave Hamster license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveCounties') }}"><p class="card-text text-center btn-outline-danger btn-lg">Five Largest Counties</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/3356/3176599559_bc65c4bd1d_b.jpg" alt="largest lakes in wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Justin Beckley license CC BY-ND 2</p>
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveLakes') }}"><p class="card-text text-center btn-outline-danger btn-lg">Five Largest Lakes</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/South_Stack_Lighthouse%2C_Anglesey.jpg" alt="largest islands in Wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Peter_Glyn license CC BY-SA 3</p>
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveIslands') }}"><p class="card-text text-center btn-outline-danger btn-lg">Five Largest Islands</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/1963/45339424421_ba296277b8_b.jpg" alt="five wettest places in wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">amandabhslater license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveWettest') }}"><p class="card-text text-center btn-outline-danger btn-lg">Five Wettest Places</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a name="ten"></a>
        <div class="album py-5 bg-light">
          <div class="container text-center">
            <h2>Top Tens</h2>
            <hr>
      
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/8153/7228361544_f8a985e957_b.jpg" alt="ten oldest railway stations in Wales" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Helensification license CC BY-ND 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='tenStations') }}"><p class="card-text text-center btn-outline-danger btn-lg">Ten Oldest Stations</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Pye_Corner_station-Geograph-4012357-by-Robin-Drayton.jpg" alt="ten newest railway stations in Wales" width="100%" height="225">
                    <p class="text-right font-weight-light" style="color: darkgray;">Robin Drayton license CC BY-SA 2</p>
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='tenNewestStations') }}"><p class="card-text text-center btn-outline-danger btn-lg">Ten Newest Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="https://live.staticflickr.com/4289/35857042695_098f650bc4_b.jpg" alt="largest towns in wales" width="100%" height="225">
                    <p class="text-right font-weight-light" style="color: darkgray;">Metro Centric license CC BY 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('tenquiz', quizName='biggestPlaces') }}"><p class="card-text text-center btn-outline-danger btn-lg">Largest towns/cities</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="https://live.staticflickr.com/4729/38297839155_d8e1573358_b.jpg" alt="highest mountains in wales" width="100%" height="225">
                    <p class="text-right font-weight-light" style="color: darkgray;">rockcatch license CC BY 2</p>
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='highestMountains') }}"><p class="card-text text-center btn-outline-danger btn-lg">Highest mountains</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="https://live.staticflickr.com/3661/3567260987_519a6d72b7.jpg" alt="largest counties in wales" width="100%" height="225">
                    <p class="text-right font-weight-light" style="color: darkgray;">Simon Bunting license CC BY 2</p>
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='largestCounties') }}"><p class="card-text text-center btn-outline-danger btn-lg">Largest counties</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="https://farm5.staticflickr.com/4444/37897187026_36783ce1c8_b.jpg" alt="largest islands in wales" width="100%" height="225">
                    <p class="text-right font-weight-light" style="color: darkgray;">Photos from Andrew license CC BY 2</p>
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='largestIslands') }}"><p class="card-text text-center btn-outline-danger btn-lg">Largest islands</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
              </div>

              <a name="picture"></a>
              <div class="album py-5 bg-light">
                <div class="container text-center">
                  <h2>Picture Quizzes</h2>
                  <hr>
            
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/32/38823913_84496fd714.jpg" alt="welsh beaches" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">neepster license CC BY-SA 2</p>
                            <div class="card-body">
                              <a href="{{ url_for('picturequiz', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg">Beaches</p></a>
                              <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/7295/8995899882_342b9a614e_b.jpg" alt="welsh mountains" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">Mikey Bean license CC BY 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='mountains') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mountains</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/5047/5260678452_e8fd282c95_b.jpg" alt="AONB I Picture Quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">dave-pemcoastphotos.com license CC BY 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonb') }}"><p class="card-text text-center btn-outline-danger btn-lg">Guess the AONB</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group text-center">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/7079/7203521926_74ed514c89_b.jpg" alt="AONB II Picture Quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">paul_p! license CC BY 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonbII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Guess the AONB II</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group text-center">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/65535/49463685652_3ffaf07565_b.jpg" alt="AONB III Picture Quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">alh1 license CC BY-ND 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonbIII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Guess the AONB III</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group text-center">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://farm5.staticflickr.com/4444/37897187026_36783ce1c8_b.jpg" alt="AONB IV Picture Quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">Photos from Andrew license CC BY 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonbIV') }}"><p class="card-text text-center btn-outline-danger btn-lg">Guess the AONB IV</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group text-center">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://farm4.staticflickr.com/3087/2810160173_e9c47c6018_b.jpg" alt="National Park I Quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">the real Tiggy license CC BY 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='nationalPark') }}"><p class="card-text text-center btn-outline-danger btn-lg">Guess the National Park I</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/8005/6982732686_63618d0e48_b.jpg" alt="National Park II Quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">Carnachenwen Mathry license CC BY-ND 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='nationalParkII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Guess the National Park II</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/7222/7270766756_19b0838f07_b.jpg" alt="powys geography quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">O3D license CC BY 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='powysGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">Powys</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/3007/2640764804_994d52e208_b.jpg" alt="gwynedd geography quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">cytoon license CC BY 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='gwyneddGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">Gwynedd</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/6198/6121640367_8a3f278501_b.jpg" alt="monmouthshire geography quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">KarneyHatch license CC BY-SA 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='monmouthshireGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">Monmouthshire</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img src="https://live.staticflickr.com/3646/3360606523_1daa27bc01_b.jpg" alt="National Park III Quiz" width="100%" height="225">
                          <p class="text-right font-weight-light" style="color: darkgray;">Steve 2.0 license CC BY-SA 2</p>
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='nationalParkIII') }}"><p class="card-text text-center btn-outline-danger btn-lg">Guess the National Park III</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            
                    </div>

      <footer class="text-muted">
        <div class="container text-center">
            <p>Love Scottish trivia? Visit our sister site: <a href="https://www.weequiz.com">weequiz.com</a></p>
           <a href="#">Back to top</a>
        </div>
      </footer>
    
    {% endblock %}