{% extends "base.html" %}

{% block head %} <meta name="description" content="Beautiful, interactive & free Welsh geography quizzes."> {% endblock %}

{% block title %} Welsh Geography Quizzes {% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Geography / Daearyddiaeth</h1>
      <p class="lead">With 3 National Parks and 5 Areas of Outstanding Natural Beauty Wales has a beautiful diverse geography. From the mountains of the north to the beaches of the south-west and the rolling hills in-between, Wales is throughout a green and pleasant land.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
      <a href="#quick" class="btn btn-outline-success my-2">Quick Quizzes</a>
        <a href="#ten" class="btn btn-outline-success my-2">Top Tens</a>
        <a href="#picture" class="btn btn-outline-success my-2">Picture Quizzes</a>
      </p>
    </div>
  </section>

  <a name="quick"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Quick Quizzes</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='fiveMountains') }}"><p class="card-text text-center btn-outline btn-lg">Five Highest Mountains</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1486575713174-36c0bfafb068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Highest five mountains in wales" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='welshRivers') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Rivers</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1515675533504-0975e377ba13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh rivers quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshBridges') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Bridges</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1440186170739-681f007fc4d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh bridges quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshMountainAreas') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Mountain Areas</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1508399299845-b26aaf3175a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh mountain ranges quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveRivers') }}"><p class="card-text text-center btn-outline btn-lg">Five Longest Rivers</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1529484832466-af76d1703391?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="five longest rivers in wales" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveCounties') }}"><p class="card-text text-center btn-outline btn-lg">Five Largest Counties</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1575372431190-d19c10c63b61?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveLakes') }}"><p class="card-text text-center btn-outline btn-lg">Five Largest Lakes</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1597161353614-083a02f43ac2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest lakes in wales" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='largestIslands') }}"><p class="card-text text-center btn-outline btn-lg">Five Largest Islands</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1596310000008-f27c19d67e54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest islands in Wales" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveWettest') }}"><p class="card-text text-center btn-outline btn-lg">Five Wettest Places</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1579096274927-c7d91f40576c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1048&q=80" alt="five wettest places in wales" width="100%" height="225">
            </div>
          </div>
        </div>

        <a name="ten"></a>
        <div class="album py-5 bg-light">
          <div class="container text-center">
            <h2>Top Tens</h2>
            <hr>
      
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='tenStations') }}"><p class="card-text text-center btn-outline btn-lg">Ten Oldest Stations</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1519350753553-e7aa1c82ff7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="ten oldest railway stations in Wales" width="100%" height="225">
                </div>
              </div>
      
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='tenNewestStations') }}"><p class="card-text text-center btn-outline btn-lg">Ten Newest Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                    <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1511970093628-4e9f59378b4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="ten newest railway stations in Wales" width="100%" height="225">
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <a href="{{ url_for('tenquiz', quizName='biggestPlaces') }}"><p class="card-text text-center btn-outline btn-lg">Largest towns/cities</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                    <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1529402328854-d0ba774a95c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest towns in wales" width="100%" height="225">
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='highestMountains') }}"><p class="card-text text-center btn-outline btn-lg">Highest mountains</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                    <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1557323137-bd6bd20fe022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="highest mountains in wales" width="100%" height="225">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='largestCounties') }}"><p class="card-text text-center btn-outline btn-lg">Largest counties</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                    <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1515675533504-0975e377ba13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest counties in wales" width="100%" height="225">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('tenquiz', quizName='largestIslands') }}"><p class="card-text text-center btn-outline btn-lg">Largest islands</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                    <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1556924841-d17a67c12625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="largest islands in wales" width="100%" height="225">
                  </div>
                </div>
      
              </div>

              <a name="picture"></a>
              <div class="album py-5 bg-light">
                <div class="container text-center">
                  <h2>Picture Quizzes</h2>
                  <hr>
            
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                              <a href="{{ url_for('picturequiz', quizName='beaches') }}"><p class="card-text text-center btn-outline btn-lg">Beaches</p></a>
                              <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1565510443104-2f3b62ad0eba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh beaches" width="100%" height="225">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='mountains') }}"><p class="card-text text-center btn-outline btn-lg">Mountains</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1602665524691-6c4a1c1668b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh mountains" width="100%" height="225">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonb') }}"><p class="card-text text-center btn-outline btn-lg">Guess the AONB</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1509456139970-e673e1101dbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="AONB I Picture Quiz" width="100%" height="225">
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonbII') }}"><p class="card-text text-center btn-outline btn-lg">Guess the AONB II</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1601820771536-eaeb848508f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="AONB II Picture Quiz" width="100%" height="225">
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonbIII') }}"><p class="card-text text-center btn-outline btn-lg">Guess the AONB III</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1588666181270-862a9b48d9c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="AONB III Picture Quiz" width="100%" height="225">
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='aonbIV') }}"><p class="card-text text-center btn-outline btn-lg">Guess the AONB IV</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1533255431233-4eb4410ca514?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="AONB IV Picture Quiz" width="100%" height="225">
                        </div>
                      </div>

                      <div class="col-md-2">
                      </div>
                  
                    <div class="col-md-8">
                    <div class="container text-center">
                      <p class="lead"><b>Did you know?</b> Pembrokeshire Coast National Parking - <i>Parc Cenedlaethol Arfordir Penfro</i>, in Welsh - is the only national park in the UK to be based on coastal landscape alone.</p>
                    </div>
                    </div>
                  
                    <div class="col-md-2">
                    </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='nationalPark') }}"><p class="card-text text-center btn-outline btn-lg">Guess the National Park I</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1579549449277-0f85a036d68c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="National Park I Quiz" width="100%" height="225">
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='nationalParkII') }}"><p class="card-text text-center btn-outline btn-lg">Guess the National Park II</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1542395975-d6d3ddf91d6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="National Park II Quiz" width="100%" height="225">
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz2', quizName='nationalParkIII') }}"><p class="card-text text-center btn-outline btn-lg">Guess the National Park III</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1514481043218-e965c5886f06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1062&q=80" alt="National Park III Quiz" width="100%" height="225">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='gwyneddGeo') }}"><p class="card-text text-center btn-outline btn-lg">Gwynedd</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1557316655-8715fdecd2d1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="gwynedd geography quiz" width="100%" height="225">
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='monmouthshireGeo') }}"><p class="card-text text-center btn-outline btn-lg">Monmouthshire</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1558871585-4c3574a1b7cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="monmouthshire geography quiz" width="100%" height="225">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <a href="{{ url_for('picturequiz', quizName='powysGeo') }}"><p class="card-text text-center btn-outline btn-lg">Powys</p></a>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                          <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1589142911133-a1708d18c26e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="powys geography quiz" width="100%" height="225">
                        </div>
                      </div>
            
                    </div>
    
    {% endblock %}