{% extends "base.html" %}

{% block title %} Welsh History Quizzes {% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>History / Hanes</h1>
      <p class="lead">It is said that there are more <b>castles per square mile</b> in Wales than anywhere else in the world. And you'd better believe it. Whether it's the <b>iron ring of Edward I</b> in North Wales or the earlier <b>Norman castles</b> in South Wales, this celtic country is steeped in history waiting to be explored.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
      <a href="#castles" class="btn btn-outline-success my-2">Welsh Castles Quizzes</a>
        <a href="#history" class="btn btn-outline-success my-2">Welsh General History Quizzes</a>
        <a href="#regions" class="btn btn-outline-success my-2">Welsh Regional History Quizzes</a>
      </p>
    </div>
  </section>

  <a name="castles"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh Castles Quizzes</h2>
      <p class="lead">Welsh-built castles, norman-built castles and the Iron Ring and UNESCO World Heritage Site of Edward I. You will find all these castle quizzes and more below. </p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='castleDescription') }}"><p class="card-text text-center btn-outline btn-lg">Castle by Description</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1581118171588-22b86902387c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="castle by description" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='generalCastles') }}"><p class="card-text text-center btn-outline btn-lg">General Castle Quiz</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1575823168108-559852693c2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="general castle quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='castleType') }}"><p class="card-text text-center btn-outline btn-lg">Castle by Castle Type</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1576063346885-d30610dfc98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80" alt="types of welsh castle quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='castles') }}"><p class="card-text text-center btn-outline btn-lg">Castles</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1515612148533-6247582c12c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='edwardI') }}"><p class="card-text text-center btn-outline btn-lg">Edward I Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1599897705618-514cd6d772b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1046&q=80" alt="edward I castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshCastles') }}"><p class="card-text text-center btn-outline btn-lg">Welsh-built Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1565510442652-cfa0bf3ffaa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh built castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-2">
        </div>
    
      <div class="col-md-8">
      <div class="container text-center">
        <p class="lead"><b>Did you know?</b> Caerphilly castle, dating from the 13th Century, is the largest castle in Wales and the second-largest in the UK.</p>
      </div>
      </div>
    
      <div class="col-md-2">
      </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='normanCastles') }}"><p class="card-text text-center btn-outline btn-lg">Norman Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1589391185039-8e7b513696f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80" alt="norman castles wales" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='southWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">South Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1599557649514-65ee782478f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="south wales castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='northWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">North Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1572187311761-782cc307ca87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="north wales castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='southEastCastles') }}"><p class="card-text text-center btn-outline btn-lg">South East Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1468933996188-428897920ab2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="south east wales castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='midWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">Mid Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1558537112-548dfb3384d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="mid wales castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='ironRing') }}"><p class="card-text text-center btn-outline btn-lg">Iron Ring</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1557316276-20a327b894c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Edward I iron ring of castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='lesserKnown') }}"><p class="card-text text-center btn-outline btn-lg">Lesser-known Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1592490578831-4c55bd5b06d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='privateCastles') }}"><p class="card-text text-center btn-outline btn-lg">Private Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1550039120-5d6529f0c4de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='westWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">West Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1566923243236-ec34afee9201?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="west wales castles" width="100%" height="225">
          </div>
        </div>


  <a name="history"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh General History Quizzes</h2>
      <p class="lead">From the only town in Wales founded by the Romans, Caerwent, to the stunning Cathedrals and Historic Buildings of Wales, test your knowledge on these topics and more below.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='romanWales') }}"><p class="card-text text-center btn-outline btn-lg">Roman Wales</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1532969476555-7a4eb819a357?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="roman wales" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='historicCardiff') }}"><p class="card-text text-center btn-outline btn-lg">Historic Cardiff</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1590781748754-7fca14beeacd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="historic cardiff" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshHistory') }}"><p class="card-text text-center btn-outline btn-lg">Welsh History</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img src="https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh history" width="100%" height="225">
          </div>
        </div>


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='welshCathedrals') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Cathedrals</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1590781748754-7fca14beeacd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh cathedrals" width="100%" height="225">
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='welshBridges') }}"><p class="card-text text-center btn-outline btn-lg">Historic Bridges</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1490598000245-075175152d25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="historic welsh bridges" width="100%" height="225">
        </div>
      </div>



      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='welshChurches') }}"><p class="card-text text-center btn-outline btn-lg">Churches</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1579847911934-1bdedcdba11b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh churches" width="100%" height="225">
        </div>
      </div>

      <div class="col-md-2">
      </div>
  
    <div class="col-md-8">
    <div class="container text-center">
      <p class="lead"><b>Did you know?</b> On 2 January 1941 Llandaff Cathedral was severely damaged by a parachute mine. Only Coventry Cathedral suffered worse damage during the Second World War.</p>
    </div>
    </div>
  
    <div class="col-md-2">
    </div>


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='historicHouses') }}"><p class="card-text text-center btn-outline btn-lg">Historic Buildings</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1544623744-ab34c69c3759?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="historic welsh buildings" width="100%" height="225">
          </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('smallquiz', quizName='owainGlyndwr') }}"><p class="card-text text-center btn-outline btn-lg">Owain Glyndwr</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="owain glyndwr quiz" width="100%" height="225">
          </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('smallquiz', quizName='llywelynTheGreat') }}"><p class="card-text text-center btn-outline btn-lg">Llywelyn the Great</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1531907778985-02af518a3458?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Llywelyn the great quiz" width="100%" height="225">
          </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='thomasTelford') }}"><p class="card-text text-center btn-outline btn-lg">Thomas Telford</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1598016699595-02bd1eed382a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="thomas telford in wales quiz" width="100%" height="225">
          </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('smallquiz', quizName='robertOwen') }}"><p class="card-text text-center btn-outline btn-lg">Robert Owen</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1576588814489-72c7b620a593?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="Robert Owen Quiz" width="100%" height="225">
          </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('smallquiz', quizName='famousWelshmen') }}"><p class="card-text text-center btn-outline btn-lg">Famous Welshmen</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1574689418636-ddcca5b55c34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="famous welshmen of history quiz" width="100%" height="225">
          </div>
      </div>

      <a name="regions"></a>
      <div class="album py-5 bg-light">
        <div class="container text-center">
          <h2>Welsh Regional History Quizzes</h2>
          <p class="lead">Whether you're a Gog or a Taff, test your knowledge of Wales' beautiful regions in the quizzes below.</p>
          <hr>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='historicCardiff') }}"><p class="card-text text-center btn-outline btn-lg">Historic Cardiff</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1546403072-d1881511179d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="historic cardiff" width="100%" height="225">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='southWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">South Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1560536246-7759ea902771?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="south east wales castles" width="100%" height="225">
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='northWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">North Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1565510442652-cfa0bf3ffaa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="north wales castles" width="100%" height="225">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='southEastCastles') }}"><p class="card-text text-center btn-outline btn-lg">South East Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1583682401398-f689f976d91a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="south east wales castles" width="100%" height="225">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='midWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">The Castles of Mid Wales</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1532360187883-4caccd16b753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="mid wales castles" width="100%" height="225">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='westWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">The Castles of West Wales</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1566981413685-58f716c6e4e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1019&q=80" alt="west wales castles" width="100%" height="225">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='northEastWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">North East Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1513165443991-1112ee1d0e8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="north east wales castles" width="100%" height="225">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='historicNWales') }}"><p class="card-text text-center btn-outline btn-lg">Highlights of Historic North Wales</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1527090296392-920158c27e56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1050&q=80" alt="historic north wales quiz" width="100%" height="225">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='modernCardiff') }}"><p class="card-text text-center btn-outline btn-lg">The Modern History of Cardiff</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                <img src="https://images.unsplash.com/photo-1575822955589-d7054f995bab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="modern history cardiff" width="100%" height="225">
              </div>
            </div>

        </div>
      </div>

{% endblock %}