{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>History / Hanes</h1>
      <p class="lead">It is said that there are more <b>castles per square mile</b> in Wales than anywhere else in the world. And you'd better believe it. Whether it's the <b>iron ring of Edward I</b> in North Wales or the earlier <b>Norman castles</b> in South Wales, this celtic country is steeped in history waiting to be explored.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
      <a href="#castles" class="btn btn-outline-success my-2">Castles</a>
        <a href="#history" class="btn btn-outline-success my-2">General History</a>
        <a href="#regions" class="btn btn-outline-success my-2">Regional History</a>
      </p>
    </div>
  </section>

  <a name="castles"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Castles</h2>
      <p class="lead">Welsh-built castles, norman-built castles and the Iron Ring and UNESCO World Heritage Site of Edward I. You will find all these castle quizzes and more below. </p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://s0.geograph.org.uk/geophotos/05/48/69/5486976_70b0c58e.jpg" alt="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Philip Halling license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('smallquiz', quizName='castleDescription') }}"><p class="card-text text-center btn-outline-danger btn-lg">Castle by Description</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8081/8388589277_ec3674827d_b.jpg" alt="general castle quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">nathanrjones1979 license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='generalCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">General Castle Quiz</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7408/10281029176_1f98dbecef_b.jpg" alt="types of welsh castle quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">hAl1927 license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='castleType') }}"><p class="card-text text-center btn-outline-danger btn-lg">Castle by Castle Type</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3192/2561053765_19e1715e9f_b.jpg" alt="welsh castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">potamos.photography license CC BY-ND 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='castles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Castles</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8599/15966969495_ea3de02643_b.jpg" alt="edward I castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Bo&Ko license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='edwardI') }}"><p class="card-text text-center btn-outline-danger btn-lg">Edward I Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Castel_y_Bere_site.jpg" alt="welsh built castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Gareth James license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh-built Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8354/8354323485_f6922e7433_b.jpg" alt="norman castles wales" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Nigel Swales license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='normanCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Norman Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3927/15511037862_2eaf640514_b.jpg" alt="south wales castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">pdeonarain license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='southWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">South Wales Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1832/29098731747_3dcd099b85_b.jpg" alt="north wales castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">mattbuck4950 license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='northWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">North Wales Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/6054/6307702570_01bacab516_b.jpg" alt="south east wales castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">mellen_petrich license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='southEastCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">South East Wales Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3661/3567260987_519a6d72b7.jpg" alt="mid wales castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Simon Bunting license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='midWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mid Wales Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1857/44514124661_921a49b5d7_b.jpg" alt="Edward I iron ring of castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">mcartmell license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='ironRing') }}"><p class="card-text text-center btn-outline-danger btn-lg">Iron Ring Castles</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Pennard_castle%2C_Gower_%281293860%29.jpg" alt="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Percy Benzie Abery license CC0 1</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='lesserKnown') }}"><p class="card-text text-center btn-outline-danger btn-lg">Lesser-known Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Castell_Coch_%284664%29.jpg" alt="" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Nilfanion license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='privateCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Private Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3474/3318940752_48885e6815_b.jpg" alt="west wales castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Disgwylfa licensed CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='westWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">West Wales Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>


  <a name="history"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>General History</h2>
      <p class="lead">From the only town in Wales founded by the Romans, Caerwent, to the stunning Cathedrals and Historic Buildings of Wales, test your knowledge on these topics and more below.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/476/18619342999_37461718d0_b.jpg" alt="roman wales" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">williamsdb license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('history', quizName='romanWales') }}"><p class="card-text text-center btn-outline-danger btn-lg">Roman Wales</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/81/250356921_597b14587b_b.jpg" alt="historic cardiff" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">JohnGreenaway license CC BY-SA 2.</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='historicCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic Cardiff</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="http://s0.geograph.org.uk/geophotos/01/18/18/1181860_a9dd45e8.jpg" alt="welsh history" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Chris Downer license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('culture', quizName='welshHistory') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh History</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://live.staticflickr.com/920/29231091818_2ebc71db06_b.jpg" alt="welsh cathedrals" width="100%" height="225">
          <p class="text-right font-weight-light" style="color: darkgray;">Bone Setter license CC0 1</p>
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='welshCathedrals') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Cathedrals</p></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Monmow_Bridge_%289721%29.jpg" alt="historic welsh bridges" width="100%" height="225">
          <p class="text-right font-weight-light" style="color: darkgray;">Nilfanion license CC BY-SA 4</p>
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='welshBridges') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic Bridges</p></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Capel_y_Rug_Chapel%2C_Corwen%2C_Sir_Ddinbych_Cymru_A_30.JPG" alt="welsh churches" width="100%" height="225">
          <p class="text-right font-weight-light" style="color: darkgray;">Llywelyn2000 license CC BY-SA 3</p>
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='welshChurches') }}"><p class="card-text text-center btn-outline-danger btn-lg">Churches</p></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group text-center">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://s0.geograph.org.uk/geophotos/04/51/10/4511019_e05a43f2.jpg" alt="historic welsh buildings" width="100%" height="225">
          <p class="text-right font-weight-light" style="color: darkgray;">Jeff Buck license CC BY-SA 2</p>
          <div class="card-body">
            <a href="{{ url_for('picturequiz', quizName='historicHouses') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic Buildings</p></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
          </div>
      </div>

      <a name="regions"></a>
      <div class="album py-5 bg-light">
        <div class="container text-center">
          <h2>Regional History</h2>
          <p class="lead">Whether you're a Gog or a Taff, test your knowledge of Wales' beautiful regions in the quizzes below.</p>
          <hr>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/81/250356921_597b14587b_b.jpg" alt="historic cardiff" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">JohnGreenaway license CC BY-SA 2.</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='historicCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic Cardiff</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/3927/15511037862_2eaf640514_b.jpg" alt="south east wales castles" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">pdeonarain license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='southWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">South Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/1832/29098731747_3dcd099b85_b.jpg" alt="north wales castles" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">mattbuck4950 license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='northWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">North Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/6054/6307702570_01bacab516_b.jpg" alt="south east wales castles" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">mellen_petrich license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='southEastCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">South East Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/3661/3567260987_519a6d72b7.jpg" alt="mid wales castles" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Simon Bunting license CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='midWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mid Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/3474/3318940752_48885e6815_b.jpg" alt="west wales castles" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Disgwylfa licensed CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='westWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">West Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/1867/29806789647_a51a58d850_b.jpg" alt="north east wales castles" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">clairemcox license CC BY-ND 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='northEastWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">North East Wales Castles</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://s0.geograph.org.uk/geophotos/05/02/50/5025045_f88f2485.jpg" alt="historic north wales quiz" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Jeff Buck license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='historicNWales') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic North Wales</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/2317/2268016077_fe76615b94_b.jpg" alt="modern history cardiff" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Nigel Swales license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='modernCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Modern History: Cardiff</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

  <footer class="text-muted">
    <div class="container text-center">
        <p>Love Scottish trivia? Visit our sister site: <a href="https://www.weequiz.com">weequiz.com</a></p>
       <a href="#">Back to top</a>
    </div>
  </footer>

{% endblock %}