{% extends "base.html" %}
{% block content %}

<main role="main">

  <section class="text-center jumbotron">
      <div class="container">
        <h1>Croeso!</h1>
        <p class="lead text-center">Welcome to <b>welshquizzes.com</b>, the home of Welsh trivia online. Whether you're looking for quizzes about Wales' greatest castles, highest mountains, best music or most beautiful beaches, you'll find it all and more below. <p class="lead text-muted">Pick a topic or scroll down to get quizzing!</p>
          <a href="{{ url_for('culture') }}" class="btn btn-outline-success my-2 btn-lg">Culture</a>
          <a href="{{ url_for('general') }}" class="btn btn-outline-success my-2 btn-lg">General Knowledge</a>
          <a href="{{ url_for('history') }}" class="btn btn-outline-success my-2 btn-lg">History</a>
          <a href="{{ url_for('regions') }}" class="btn btn-outline-success my-2 btn-lg">Regions</a>
          <a href="{{ url_for('geography') }}" class="btn btn-outline-success my-2 btn-lg">Geography</a>
          <a href="{{ url_for('jumbo') }}" class="btn btn-outline-success my-2 btn-lg">Jumbo Quizzes</a>
          <a href="{{ url_for('sport') }}" class="btn btn-outline-success my-2 btn-lg">Sport</a>
          <a href="{{ url_for('transport') }}" class="btn btn-outline-success my-2 btn-lg">Transport</a>
          <a href="{{ url_for('sport', _anchor='rugby') }}" class="btn btn-outline-success my-2 btn-lg">Rugby</a>
          <a href="{{ url_for('sport', _anchor='football') }}" class="btn btn-outline-success my-2 btn-lg">Football</a>
          <a href="{{ url_for('culture', _anchor='language') }}" class="btn btn-outline-success my-2 btn-lg">Language</a>
          <a href="{{ url_for('culture', _anchor='literature') }}" class="btn btn-outline-success my-2 btn-lg">Literature</a>
          <a href="{{ url_for('culture', _anchor='film') }}" class="btn btn-outline-success my-2 btn-lg">Film</a>
          <a href="{{ url_for('culture', _anchor='tv') }}" class="btn btn-outline-success my-2 btn-lg">TV</a>
          <a href="{{ url_for('culture', _anchor='music') }}" class="btn btn-outline-success my-2 btn-lg">Music</a>
        </p>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container text-center">
        <h2>Popular Quizzes</h2>

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/2754/5708164292_48106be390_b.jpg" alt="Highest five mountains in wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">nathanrjones1979 license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('fivequiz', quizName='fiveMountains') }}"><p class="card-text text-center btn-outline-danger btn-lg">Five Highest Mountains</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/435/20138217810_8b730b0ba1_b.jpg" alt="welsh counties" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">ianpreston license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('chloropethCounties') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Counties</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/6231/6868542756_49807ca18a_b.jpg" alt="welsh rugby" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='mostTries') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most tries</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/4289/35857042695_098f650bc4_b.jpg" alt="largest towns in wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Metro Centric license CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('tenquiz', quizName='biggestPlaces') }}"><p class="card-text text-center btn-outline-danger btn-lg">Largest towns/cities</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/4090/5190203107_3da0d72816_b.jpg" alt="welsh rugby" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">joncandy is licensed under CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='sixNations') }}"><p class="card-text text-center btn-outline-danger btn-lg">Wales Six Nation Wins</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/1005/5190204039_1806376ed3_b.jpg" alt="welsh rugby" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='mostPoints') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most points</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/3927/15511037862_2eaf640514_b.jpg" alt="south wales castles" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">pdeonarain license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='southWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">South Wales Castles</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/8599/15966969495_ea3de02643_b.jpg" alt="edward I castles" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Bo&Ko license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='edwardI') }}"><p class="card-text text-center btn-outline-danger btn-lg">Edward I Castles</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/32/38823913_84496fd714.jpg" alt="welsh beaches" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">neepster license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='beaches') }}"><p class="card-text text-center btn-outline-danger btn-lg">Beaches</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://farm8.staticflickr.com/7340/13993732949_86496aa82d_b.jpg" alt="welsh football" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Matthew Wilkinson license CC BY-ND 2</p>
                <div class="card-body">
                  <a href="{{ url_for('tenquiz', quizName='mostGoals') }}"><p class="card-text text-center btn-outline-danger btn-lg">Football: most goals</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/81/250356921_597b14587b_b.jpg" alt="historic cardiff" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">JohnGreenaway license CC BY-SA 2.</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='historicCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic Cardiff</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://farm8.staticflickr.com/7511/15214437974_083f1d3c7c_b.jpg" alt="welsh football" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">grassrootsgroundswell license CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('tenquiz', quizName='footballCaps') }}"><p class="card-text text-center btn-outline-danger btn-lg">Football: most caps</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group text-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/343/19327953498_d8c2a1ca2b_b.jpg" alt="ultimate M4 quiz" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Harshil.Shah license CC BY-ND 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('mediumquiz', quizName='ultimateM4') }}"><p class="card-text text-center btn-outline-danger btn-lg">Ultimate M4 Quiz</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/8566/16538795848_d605a6616c_b.jpg" alt="geraint thomas quiz" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">Glory Cycles license CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('mediumquiz', quizName='gThomas') }}"><p class="card-text text-center btn-outline-danger btn-lg">Geraint Thomas</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://live.staticflickr.com/8249/8501688730_4f1d80695b_b.jpg" alt="cardiff railway stations quiz" width="100%" height="225">
                <p class="text-right font-weight-light" style="color: darkgray;">hugh llewelyn license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='stationsCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cardiff's Railway Stations</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>


            <div class="container text-center">
              <p>Love Scottish trivia? Visit our sister site: <a href="https://www.weequiz.com">weequiz.com</a></p>
             <a href="#">Back to top</a>
          </div>

  
  </main>

  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
        <small class="d-block mb-3 text-muted">&copy; WeeQuiz 2020</small>
      </div>
      <div class="col-6 col-md">
        <h5><a href="{{ url_for('index') }}">Home</a></h5>
      </div>
      <div class="col-6 col-md">
        <h5><a href="{{ url_for('blog2') }}">Blog</a></h5>
      </div>
      <div class="col-6 col-md">
        <h5><a href="{{ url_for('about') }}">About</a></h5>
      </div>
    </div>
  </footer>

{% endblock %}