{% extends "base.html" %}
{% block content %}

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.5/examples/carousel/carousel.css" rel="stylesheet">

<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Landscapes.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Enter</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Mountains.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Culture.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse quizzes</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <section class="text-center jumbotron">
      <div class="container">
        <p class="lead text-center">Pick a topic or scroll down to get quizzing!</p>
          <a href="{{ url_for('culture') }}" class="btn btn-outline-success my-2 btn-lg">Culture</a>
          <a href="{{ url_for('general') }}" class="btn btn-outline-success my-2 btn-lg">General Knowledge</a>
          <a href="{{ url_for('history') }}" class="btn btn-outline-success my-2 btn-lg">History</a>
          <a href="{{ url_for('regions') }}" class="btn btn-outline-success my-2 btn-lg">Regions</a>
          <a href="{{ url_for('geography') }}" class="btn btn-outline-success my-2 btn-lg">Geography</a>
          <a href="{{ url_for('jumbo') }}" class="btn btn-outline-success my-2 btn-lg">Jumbo Quizzes</a>
          <a href="{{ url_for('sport') }}" class="btn btn-outline-success my-2 btn-lg">Sport</a>
          <a href="{{ url_for('transport') }}" class="btn btn-outline-success my-2 btn-lg">Transport</a>
          <a href="{{ url_for('sport', _anchor='rugby') }}" class="btn btn-outline-success my-2 btn-lg">Rugby</a>
          <a href="{{ url_for('sport', _anchor='football') }}" class="btn btn-outline-success my-2 btn-lg">Football</a>
          <a href="{{ url_for('culture', _anchor='language') }}" class="btn btn-outline-success my-2 btn-lg">Language</a>
          <a href="{{ url_for('culture', _anchor='literature') }}" class="btn btn-outline-success my-2 btn-lg">Literature</a>
          <a href="{{ url_for('culture', _anchor='film') }}" class="btn btn-outline-success my-2 btn-lg">Film</a>
          <a href="{{ url_for('culture', _anchor='tv') }}" class="btn btn-outline-success my-2 btn-lg">TV</a>
          <a href="{{ url_for('culture', _anchor='music') }}" class="btn btn-outline-success my-2 btn-lg">Music</a>
        </p>
      </div>
    </section>
  
   
  </main>

{% endblock %}