{% extends "base.html" %}

{% block title %} Jumbo Welsh Quizzes {% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Jumbo Quizzes / Cwisiau Jumbo</h1>
      <p class="lead">Ranging from relatively easy to fiendishly difficult these jumbo Welsh quizzes should keep you going for a while. Just trying to spell - <b>Llanfair­pwllgwyngyll­gogery­chwyrn­drobwll­llan­tysilio­gogo­goch</b> - is hard enough!</p>
      <p class="lead text-muted">Scroll down to start quizzing!</p>
      <a href="#twenty" class="btn btn-outline-success my-2">Top 20s</a>
      <a href="#thirty" class="btn btn-outline-success my-2">Top 30s</a>
      <a href="#jumbopicture" class="btn btn-outline-success my-2">Jumbo Picture Quizzes</a>
    </div>
  </section>

  <a name="twenty"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Top 20s</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('twentyquiz', quizName='mountains20') }}"><p class="card-text text-center btn-outline btn-lg">20 Highest Mountains</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1517921684659-7d5b995aaa44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="100%" alt="highest mountains in wales" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName='stadiums') }}"><p class="card-text text-center btn-outline btn-lg">20 Biggest Stadiums</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1529663297269-6d349ec39b57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest stadums in wales" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName='busyStations') }}"><p class="card-text text-center btn-outline btn-lg">20 Busiest Stations</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1495313196544-7d1adf4e628f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="busiest stations in wales" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName='places20') }}"><p class="card-text text-center btn-outline btn-lg">20 Largest Towns</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1595273647789-54432cefc8e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="largest towns in wales" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName=twentySurnames) }}"><p class="card-text text-center btn-outline btn-lg">20 Most Common Surnames</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1567459169333-5ec6a998d9eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" alt="most common welsh surnames" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName='llTowns') }}"><p class="card-text text-center btn-outline btn-lg">Towns starting with Ll</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1599639668456-1ff30124223e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" width="100%" height="225">
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="thirty"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Top 30s</h2>
      <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ url_for('thirtyquiz', quizName='mountains30') }}"><p class="card-text text-center btn-outline btn-lg">30 Highest Mountains</p></a>
            <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1509456139970-e673e1101dbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="wales highest mountains" width="100%" height="225">
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <a href="{{ url_for('thirtyquiz', quizName='stadiums30') }}"><p class="card-text text-center btn-outline btn-lg">30 Biggest Stadiums</p></a>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1495553715023-a3c367bb8620?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="biggest stadiums wales" width="100%" height="225">
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <a href="{{ url_for('thirtyquiz', quizName='places30') }}"><p class="card-text text-center btn-outline btn-lg">30 Largest Towns</p></a>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1482575832494-771f74bf6857?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest towns wales" width="100%" height="225">
      </div>
    </div>
    </div>

    <a name="jumbopicture"></a>
    <div class="album py-5 bg-light">
      <div class="container text-center">
        <h2>Jumbo Picture Quizzes</h2>
        <hr>
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('jumbopicturequiz', quizName='jumboMountains') }}"><p class="card-text text-center btn-outline btn-lg">Mountains</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1507626036793-6d106837d1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="100%" alt="jumbo welsh mountain picture quiz" height="225">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('jumbopicturequiz', quizName='jumboCounties') }}"><p class="card-text text-center btn-outline btn-lg">Counties</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1597769007508-a38a5fb530ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="jumbo welsh counties picture quiz" width="100%" height="225">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('jumbopicturequiz', quizName='jumboCastles') }}"><p class="card-text text-center btn-outline btn-lg">Castles</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1557316276-20a327b894c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="jumbo Welsh castle quiz" width="100%" height="225">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{{ url_for('jumbopicturequiz', quizName='jumboCoastalTowns') }}"><p class="card-text text-center btn-outline btn-lg">Coastal Towns</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1523906947658-bb93228a9c82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh coastal towns quiz" width="100%" alt="" height="225">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('jumbopicturequiz', quizName='jumboNorthWales') }}"><p class="card-text text-center btn-outline btn-lg">North Wales</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1576063346885-d30610dfc98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80" alt="north wales landmarks quiz" width="100%" height="225">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('jumbopicturequiz', quizName='jumboCountyTowns') }}"><p class="card-text text-center btn-outline btn-lg">County Towns</p></a>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
              <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1566733144086-fdd649fdaf22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80" alt="jumbo county towns quiz" width="100%" height="225">
            </div>
          </div>


          </div>

{% endblock %}