<h2 class="mt-5">1: Wales: the land of the castle</h2>
      <p class="lead">It is said that Wales has <b>more castles per square mile</b> than anywhere else in the world. And once you've set foot in Wales you'll know that that's true. Norman castles, Welsh castles, ruined castles, private castles, modern castles - Wales really has them all. This blog post delves into some of the different types of castle you can see in Wales.</p>
      <h3>Edward I's Ring of Iron</h3>
      <img src="https://live.staticflickr.com/1857/44514124661_921a49b5d7_b.jpg" class="img-fluid" alt="Harlech Castle, part of Edward I's ring of iron" id="harlech">
      <p class="text-center"><b>Harlech Castle</b>: mcartmell license CC BY 2</p>
      <p></p>
      <p class="lead">Perhaps the most famous group of castles in Wales, the <b>Iron Ring of castles</b>, were built by Edward I between 1277 and 1295. Such is their beauty that Beaumaris, Harlech, Caernarfon and Conwy form part of the UNESCO-designated World Heritage Site: <b>The Castles and Town Walls of King Edward in Gwynedd</b>. As UNESCO put it: these are <i>"the finest examples of late 13th and early 14th century military architecture in Europe"</i>. Anyone who has travelled along the A55 cannot fail to be impressed their magnificance, jutting out and dominating their local geography even today. Although for all their grandeur, we must remember that these castles were meant to dominate and subjugate the Welsh, a job they must have done well given how they still dominate the localities in which they stand today. Although the UNESCO status only covers four of the castles (and the town walls of Conwy and Caernarfon), there are actually ten castles that make up the Ring of Iron:</p>
      <ul class="lead">
        <li>Flint Castle - 1277</li>
        <li>Hawarden Castle - 1277</li>
        <li>Rhuddlan Castle - 1277</li>
        <li>Builth Castle - 1277</li>
        <li>Aberystwyth Castle - 1277</li>
        <li>Denbigh Castle - 1283</li>
        <li>Caernarfon Castle - 1283</li>
        <li>Conwy Castle - 1283</li>
        <li>Harlech Castle - 1283</li>
        <li>Beaumaris Castle - 1295</li>
      </ul>
      <h4>Beaumaris Castle</h4>
      <img src="https://live.staticflickr.com/8599/15966969495_ea3de02643_b.jpg" class="img-fluid" alt="Beaumaris Castle" id="beaumaris">
      <p class="text-center"><b>Beaumaris Castle</b>: Bo&Ko license CC BY-SA 2</p>
      <p></p>
      <p class="lead">Whilst it's easy to be blown away by the beauty and dominance of Conwy, Caernarfon and Harlech, it's Beaumaris Castle that steals the show for me. Famously unfinished, as Edward I turned his attention to Scotland, it is said to be one of the best examples of concentric castle design and as you walk around and inside it you soon see how true this is. For me it feels like Edward I had perfected Castle building with each piece of his Ring of Iron and when he reached Beaumaris he knew exactly what he wanted, even if it ultimately remained unfinished as it wasn't needed anymore. Another beautiful aspect of the castle is the view towards Snowdonia, perhaps one of the finest views in Britain when Snowdonia has received a light sprinkling of snow as you look out over the Meani Strait.</p>
      <h3>Norman Castles</h3>
      <p class="lead">Turning south we find the Norman castles, built as the Normans came into Wales from the Marches from 1066. One of the earliest examples can be found in Chepstow, started in 1067 by Earl William fitz Osbern. Perched on cliffs above the lower reaches of the River Wye, Chepstow is a majestic castle in a charming town, well worth a visit. It is said to have the oldest castle doors in Europe, although they are now displayed within the castle rather than hanging in their original place. The doors, originally believed to be from the 13th century have now been dated to no later than the 1190s. The main Norman castles built around this time were: Pembroke, Chepstow, Caerphilly, Kidwelly and Cardiff. It wasn't until 200 years later that Edward I would do the same in North Wales.</p>
      <h4>Chepstow Castle</h4>
      <img src="https://live.staticflickr.com/5103/5635180932_d5a49123a2_b.jpg" class="img-fluid" alt="Chepstow castle" id="chepstow">
      <p class="text-center"><b>Chepstow Castle</b>: Gordon M Robertson license CC BY 2</p>
      <h4>Pembroke Castle</h4>
      <img src="https://live.staticflickr.com/1706/24580076280_feb2390697_b.jpg" class="img-fluid" alt="Pembroke castle" id="pembroke">
      <p class="text-center"><b>Pembroke Castle</b>: Reading Tom license CC BY 2</p>
      <h3>Welsh Castles</h3>
      <p class="lead">So far we've looked at the UNESCO World Heritage Site that is Edward I's Ring of Iron in North Wales and we've also looked at the grand Norman castles that the Marches Lords constructed in South Wales as they pushed in from the English border. But perhaps my favourite of all types of castles in Wales are the Welsh castles. Domestic castles built by Welsh Princes to keep out the English. They are usually found deep within the boundaries of Wales and are of a more simple construction, making use more of geographic features to aid their defensive qualities than than the monied grandeur of a Conwy or a Caperhilly..</p>
      <p class="lead">Some notable examples of welsh-built castles are:</p>
      <ul class="lead">
        <li>Castell y bere</li>
        <li>Criccieth castle</li>
        <li>Dolbadaran castle</li>
        <li>Dinefwr castle</li>
        <li>Dolwyddelan castle</li>
        <li>Carreg Cennen Castle</li>
        <li>Dinas Bran Castle</li>
      </ul>
      <h4>Castell y bere</h4>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Castell_y_Bere_and_Bird%27s_Rock.jpg" class="img-fluid" alt="castell y bere" id="castell y bere">
      <p class="text-center"><b>Castell y bere</b>: Gareth James license CC BY-SA 2</p>
      <p></p>
      <h4>Any castle will do</h4>
      <p class="lead">In the end, whether you like your Norman castles, your white castles, your ruined castles or your Welsh-built castles, there will always be a castle in Wales just round the corner waiting to be discovered. So whether it's a CADW-owned castle, a privately-owned castle or a free castle, what's stopping you from getting out there and discovering a new castle in the beautiful country of Wales?</p>
    </div>