{% extends "base.html" %}

{% block title %} Welsh Quizzes: the home of Welsh trivia {% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style>
    #quizbox {
        border: solid;
        border-width: 1px;
    } 
    #mapid { height: 480px; }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin="">
</script>

<main role="main" class="container text-center">
  <div class="jumbotron">
    <h1>{{ myObject.headline|e }}</h1>
    <p class="lead">{{ myObject.description|e }}</p>
</div>

    <div id="mapid"></div>
    <p></p>

    <div class="btn-group">
        <input type="text" class="form-control" id="q1">
        <div class="container">
            <button class="btn btn-primary" type="submit" onclick="myFunction()">Submit</button>
            <button class="btn btn-secondary" type="submit" onclick="revealFunction()">Reveal</button>
          </div>
          </div>
    <div class="container">
        <p id="reveal"></p>
        <p id="score"></p>
    </div>

</div>

    <section class="jumbotron text-center">
      <div class="container">
          <h4>Select another topic</h4>
          <a href="{{ url_for('culture') }}" class="btn btn-outline-success my-2 btn-lg">Culture</a>
          <a href="{{ url_for('general') }}" class="btn btn-outline-success my-2 btn-lg">General Knowledge</a>
          <a href="{{ url_for('history') }}" class="btn btn-outline-success my-2 btn-lg">History</a>
          <a href="{{ url_for('regions') }}" class="btn btn-outline-success my-2 btn-lg">Regions</a>
          <a href="{{ url_for('geography') }}" class="btn btn-outline-success my-2 btn-lg">Geography</a>
          <a href="{{ url_for('jumbo') }}" class="btn btn-outline-success my-2 btn-lg">Jumbo Quizzes</a>
          <a href="{{ url_for('sport') }}" class="btn btn-outline-success my-2 btn-lg">Sport</a>
          <a href="{{ url_for('transport') }}" class="btn btn-outline-success my-2 btn-lg">Transport</a>
          <a href="{{ url_for('sport', _anchor='rugby') }}" class="btn btn-outline-success my-2 btn-lg">Rugby</a>
          <a href="{{ url_for('sport', _anchor='football') }}" class="btn btn-outline-success my-2 btn-lg">Football</a>
          <a href="{{ url_for('culture', _anchor='language') }}" class="btn btn-outline-success my-2 btn-lg">Language</a>
          <a href="{{ url_for('culture', _anchor='literature') }}" class="btn btn-outline-success my-2 btn-lg">Literature</a>
          <a href="{{ url_for('culture', _anchor='film') }}" class="btn btn-outline-success my-2 btn-lg">Film</a>
          <a href="{{ url_for('culture', _anchor='tv') }}" class="btn btn-outline-success my-2 btn-lg">TV</a>
          <a href="{{ url_for('culture', _anchor='music') }}" class="btn btn-outline-success my-2 btn-lg">Music</a>
        </p>
      </div>
    </section>

<script>
    var lat = "{{ myObject.lat|e }}";
    var long = "{{ myObject.long|e }}";
    var mymap = L.map('mapid').setView([lat, long], 14);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/satellite-v9',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiZHJlaWNoIiwiYSI6ImNrOHpsNmlkajFqZzkzaW83NTdycHpiNGYifQ.AXJ-2Ulj7xjE29W06aN-tA'
}).addTo(mymap);


function myFunction() {
var counter = '';
var input1 = document.getElementById("q1").value;
var answer1 = "{{ myObject.answer }}";
if (input1.toLowerCase() === answer1) {
    counter = 'Correct!';
    document.getElementById("q1").style.borderColor = "green";
} else {
    counter = "Incorrect!";
    document.getElementById("q1").style.borderColor = "red";
}
document.getElementById("score").innerHTML = counter;
}

function revealFunction() {
var reveal1 = document.getElementById("q1");
reveal1.value = "{{ myObject.answer }}";
reveal1.value = reveal1.value.charAt(0).toUpperCase() + reveal1.value.slice(1)
}
</script>
  


{% endblock %}