{% extends "base.html" %}

{% block head %} <meta name="description" content="Beautiful, interactive & free Welsh quizzes."> {% endblock %}

{% block title %} Welsh Quizzes: the home of Welsh trivia {% endblock %}

{% block content %}

<style>
  .text-right {
    font-size: small;
  }
  .lead {
    padding-top: 15px;
  }
</style>
    
<main role="main" class="container text-center">
  <div class="jumbotron">
    <h1>{{ myObject.headline|e }}</h1>
    <p class="lead">{{ myObject.description|e }}</p>
</div>
    
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ myObject.questions[0] }}" alt="welshquizzes.com picture quiz image 1" width="350" height="225">
              <p class="text-right" style="color: darkgray;">{{ myObject.credits[0]|e }}</p>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <label for="answer" class="col-form-label font-weight-bold">Answer:</label>
                      <input type="text" class="form-control" id="q1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ myObject.questions[1] }}" alt="welshquizzes.com picture quiz image 2" width="350" height="225">
              <p class="text-right" style="color: darkgray;">{{ myObject.credits[1]|e }}</p>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <label for="answer" class="col-form-label font-weight-bold">Answer:</label>
                      <input type="text" class="form-control" id="q2">                
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ myObject.questions[2] }}" alt="welshquizzes.com picture quiz image 3" width="350" height="225">
              <p class="text-right" style="color: darkgray;">{{ myObject.credits[2]|e }}</p>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <label for="answer" class="col-form-label font-weight-bold">Answer:</label>
                      <input type="text" class="form-control" id="q3">                
                    </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ myObject.questions[3] }}" alt="welshquizzes.com picture quiz image 4" width="350" height="225">
              <p class="text-right" style="color: darkgray;">{{ myObject.credits[3]|e }}</p>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <label for="answer" class="col-form-label font-weight-bold">Answer:</label>
                      <input type="text" class="form-control" id="q4">                
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ myObject.questions[4] }}" alt="welshquizzes.com picture quiz image 5" width="350" height="225">
              <p class="text-right" style="color: darkgray;">{{ myObject.credits[4]|e }}</p>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <label for="answer" class="col-form-label font-weight-bold">Answer:</label>
                      <input type="text" class="form-control" id="q5">                
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ myObject.questions[5] }}" alt="welshquizzes.com picture quiz image 6" width="350" height="225">
              <p class="text-right" style="color: darkgray;">{{ myObject.credits[5]|e }}</p>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <label for="answer" class="col-form-label font-weight-bold">Answer:</label>
                      <input type="text" class="form-control" id="q6">                
                    </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="container text-center">
          <button class="btn btn-outline-success" type="submit" onclick="myFunction()">Submit</button>
          <button class="btn btn-outline-primary" type="submit" onclick="revealFunction()">Reveal</button>
          <p id="reveal"></p>
          <p id="score"></p>
          <p></p>
        </div>
        </div>
        </div>
        </div>


        <section class="jumbotron text-center">
          <div class="container">
              <h4>Select another topic</h4>
              <a href="{{ url_for('culture') }}" class="btn btn-outline-success my-2 btn-lg">Culture</a>
              <a href="{{ url_for('general') }}" class="btn btn-outline-success my-2 btn-lg">General Knowledge</a>
              <a href="{{ url_for('history') }}" class="btn btn-outline-success my-2 btn-lg">History</a>
              <a href="{{ url_for('regions') }}" class="btn btn-outline-success my-2 btn-lg">Regions</a>
              <a href="{{ url_for('geography') }}" class="btn btn-outline-success my-2 btn-lg">Geography</a>
              <a href="{{ url_for('jumbo') }}" class="btn btn-outline-success my-2 btn-lg">Jumbo Quizzes</a>
              <a href="{{ url_for('sport') }}" class="btn btn-outline-success my-2 btn-lg">Sport</a>
              <a href="{{ url_for('transport') }}" class="btn btn-outline-success my-2 btn-lg">Transport</a>
              <a href="{{ url_for('sport', _anchor='rugby') }}" class="btn btn-outline-success my-2 btn-lg">Rugby</a>
              <a href="{{ url_for('sport', _anchor='football') }}" class="btn btn-outline-success my-2 btn-lg">Football</a>
              <a href="{{ url_for('culture', _anchor='language') }}" class="btn btn-outline-success my-2 btn-lg">Language</a>
              <a href="{{ url_for('culture', _anchor='literature') }}" class="btn btn-outline-success my-2 btn-lg">Literature</a>
              <a href="{{ url_for('culture', _anchor='film') }}" class="btn btn-outline-success my-2 btn-lg">Film</a>
              <a href="{{ url_for('culture', _anchor='tv') }}" class="btn btn-outline-success my-2 btn-lg">TV</a>
              <a href="{{ url_for('culture', _anchor='music') }}" class="btn btn-outline-success my-2 btn-lg">Music</a>
            </p>
          </div>
        </section>
      
  
  
    <script>
  
      function myFunction() {
      var input1 = document.getElementById("q1").value;
      var input2 = document.getElementById("q2").value; 
      var input3 = document.getElementById("q3").value; 
      var input4 = document.getElementById("q4").value; 
      var input5 = document.getElementById("q5").value;
      var input6 = document.getElementById("q6").value;
      var answer1 = "{{ myObject.answers[0]|e }}";
      var answer2 = "{{ myObject.answers[1]|e }}";
      var answer3 = "{{ myObject.answers[2]|e }}";
      var answer4 = "{{ myObject.answers[3]|e }}";
      var answer5 = "{{ myObject.answers[4]|e }}";
      var answer6 = "{{ myObject.answers[5]|e }}";
      var counter = 0;
      if (input1.toLowerCase() === answer1) {
          counter ++;
          document.getElementById("q1").style.borderColor = "green";
      } else {
          document.getElementById("q1").style.borderColor = "red";
      }
      if (input2.toLowerCase() === answer2) {
          counter ++;
          document.getElementById("q2").style.borderColor = "green";
      } else {
          document.getElementById("q2").style.borderColor = "red";
      }
      if (input3.toLowerCase() === answer3) {
          counter ++;
          document.getElementById("q3").style.borderColor = "green";
      } else {
          document.getElementById("q3").style.borderColor = "red";
      }
      if (input4.toLowerCase() === answer4) {
          counter ++;
          document.getElementById("q4").style.borderColor = "green";
      } else {
          document.getElementById("q4").style.borderColor = "red";
      }
      if (input5.toLowerCase() === answer5) {
          counter ++;
          document.getElementById("q5").style.borderColor = "green";
      } else {
          document.getElementById("q5").style.borderColor = "red";
      }
      if (input6.toLowerCase() === answer6) {
          counter ++;
          document.getElementById("q6").style.borderColor = "green";
      } else {
          document.getElementById("q6").style.borderColor = "red";
      }
      document.getElementById("score").innerHTML = "You scored " + counter + " out of 6!";
  }
  
  function revealFunction() {
  var reveal1 = document.getElementById("q1");
  reveal1.value = "{{ myObject.answers[0]|e }}";
  reveal1.value = reveal1.value.charAt(0).toUpperCase() + reveal1.value.slice(1)
  var reveal2 = document.getElementById("q2");
  reveal2.value = "{{ myObject.answers[1]|e }}";
  reveal2.value = reveal2.value.charAt(0).toUpperCase() + reveal2.value.slice(1)
  var reveal3 = document.getElementById("q3");
  reveal3.value = "{{ myObject.answers[2]|e }}";
  reveal3.value = reveal3.value.charAt(0).toUpperCase() + reveal3.value.slice(1)
  var reveal4 = document.getElementById("q4");
  reveal4.value = "{{ myObject.answers[3]|e }}";
  reveal4.value = reveal4.value.charAt(0).toUpperCase() + reveal4.value.slice(1)
  var reveal5 = document.getElementById("q5");
  reveal5.value = "{{ myObject.answers[4]|e }}";
  reveal5.value = reveal5.value.charAt(0).toUpperCase() + reveal5.value.slice(1)
  var reveal6 = document.getElementById("q6");
  reveal6.value = "{{ myObject.answers[5]|e }}";
  reveal6.value = reveal6.value.charAt(0).toUpperCase() + reveal6.value.slice(1)
  }
  
  </script>
  
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
          {% endblock %}