{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Regions / Rhanbarthau</h1>
      <p class="lead"></p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
      <a href="#north" class="btn btn-outline-success my-2">North Wales Quizzes</a>
        <a href="#south" class="btn btn-outline-success my-2">South Wales Quizzes</a>
        <a href="#mid" class="btn btn-outline-success my-2">Mid Wales Quizzes</a>
        <a href="#west" class="btn btn-outline-success my-2">West Wales Quizzes</a>
      </p>
    </div>
  </section>

  <a name="north"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>North Wales Quizzes</h2>
      <p class="lead">Whether it's the sheer beauty of Snowdonia National Park, catching the view from the roof of Wales, or experiencing not one, or two, but three Areas of Outstanding Natural Beuaty, North Wales has an awful lot to offer the visitor. Explore its wonderful variety in the quizzes below.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1184/1096646913_67deb081e1_b.jpg" alt="largest towns in clwyd" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Pat Neary license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='clwydTowns') }}"><p class="card-text text-center btn-outline-danger btn-lg">Clwyd: largest towns</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8026/7409542742_e17c7baa74_b.jpg" alt="north wales" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Jim Linwood license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='northWales') }}"><p class="card-text text-center btn-outline-danger btn-lg">North Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1832/29098731747_3dcd099b85_b.jpg" alt="north wales castles" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">mattbuck4950 license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='northWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">North Wales Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3007/2640764804_994d52e208_b.jpg" alt="gwynedd geography quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">cytoon license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='gwyneddGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">Gwynedd</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://s0.geograph.org.uk/geophotos/05/02/50/5025045_f88f2485.jpg" alt="historic north wales quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Jeff Buck license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='historicNWales') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic North Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/195/483187409_efaab39f1e_b.jpg" alt="north wales railway stations" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">The Ancient Brit license CC BY 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='stationsNorthWales') }}"><p class="card-text text-center btn-outline-danger btn-lg">North Wales Stations</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1247/4722625706_fe0c14a21a_b.jpg" alt="snowdonia quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">kitmasterbloke license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='snowdoniaRegion') }}"><p class="card-text text-center btn-outline-danger btn-lg">Snowdonia Attractions</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="http://s0.geograph.org.uk/photos/35/95/359556_490e7483.jpg" alt="vale of clwyd quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Sian Williams license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='valeOfClwyd') }}"><p class="card-text text-center btn-outline-danger btn-lg">Vale of Clwyd</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/6218/6306042271_d444b2876f_b.jpg" alt="anglesey quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Richard Szwejkowski license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='angleseyRegion') }}"><p class="card-text text-center btn-outline-danger btn-lg">Anglesey</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>



        <a name="south"></a>
        <div class="album py-5 bg-light">
          <div class="container text-center">
            <h2>South Wales Quizzes</h2>
            <p class="lead">As the most populated part of Wales, it would be easy to dwell on the myriad attractions of Wales' capital city: Cardiff. The rugby, the bay and the museums would all make for a fine visit. But South Wales has its natural beauty too, from the AONB that is the Gower to the stunning wilderness that is the Brecon Beacons National Park. Explore all that and more in the quizzes below.</p>
            <hr>


            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/3354/3635851107_c02427428d_b.jpg" alt="cardiff" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">shining.darkness licensed CC BY 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='cardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cardiff</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/343/19327953498_d8c2a1ca2b_b.jpg" alt="ultimate M4 quiz" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Harshil.Shah license CC BY-ND 2</p>
                    <div class="card-body">
                      <a href="{{ url_for('mediumquiz', quizName='ultimateM4') }}"><p class="card-text text-center btn-outline-danger btn-lg">Ultimate M4 Quiz</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/3927/15511037862_2eaf640514_b.jpg" alt="south wales castles" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">pdeonarain license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='southWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">South Wales Castles</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/81/250356921_597b14587b_b.jpg" alt="historic cardiff" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">JohnGreenaway license CC BY-SA 2.</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='historicCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Historic Cardiff</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/4085/5214620465_cb4f21f4ae_b.jpg" alt="south wales" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">imaginedhorizons license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='southWales') }}"><p class="card-text text-center btn-outline-danger btn-lg">South Wales</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/8249/8501688730_4f1d80695b_b.jpg" alt="cardiff railway stations quiz" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">hugh llewelyn license CC BY-SA 2</p>
                    <div class="card-body">
                      <a href="{{ url_for('picturequiz', quizName='stationsCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cardiff's Railway Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/6054/6307702570_01bacab516_b.jpg" alt="south east wales castles" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">mellen_petrich license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='southEastCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">South East Wales Castles</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/6198/6121640367_8a3f278501_b.jpg" alt="monmouthshire geography quiz" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">KarneyHatch license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='monmouthshireGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">Monmouthshire</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Pye_Corner_railway_station_sign.jpg" alt="Valleys Railway Stations Quiz" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Steve Gregory license CC BY-SA 4</p>
                    <div class="card-body">
                      <a href="{{ url_for('picturequiz', quizName='stationsValleys') }}"><p class="card-text text-center btn-outline-danger btn-lg">Valleys' Railway Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/7204/6862730209_1b39858e48_b.jpg" alt="welsh football" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='cardiffKit') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cardiff City: kit</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/6179/6164229780_19ae26f522_b.jpg" alt="largest towns in gwent" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Paul Albertella license CC BY 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='gwentTowns') }}"><p class="card-text text-center btn-outline-danger btn-lg">Gwent: largest towns</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Cardiff_Central_%2827034800925%29.jpg" alt="south wales railway stations quiz" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Jeremy Segrott Cardiff, Wales, UK license CC BY 2</p>
                    <div class="card-body">
                      <a href="{{ url_for('picturequiz', quizName='stationsSouthWales') }}"><p class="card-text text-center btn-outline-danger btn-lg">South Wales Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/5242/5338421485_fe66b529b2_b.jpg" alt="largest towns in mid-glamorgan" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Mooganic license CC BY 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='midGlamTowns') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mid-Glamorgan: largest towns</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Brecon_Beacons%2C_Brecon%2C_United_Kingdom.jpg" alt="brecon beacons quiz" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Dorin Vancea license CC0 1</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='breconBeaconsRegion') }}"><p class="card-text text-center btn-outline-danger btn-lg">Brecon Beacons</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://live.staticflickr.com/2317/2268016077_fe76615b94_b.jpg" alt="modern history cardiff" width="100%" height="225">
                  <p class="text-right font-weight-light" style="color: darkgray;">Nigel Swales license CC BY-SA 2</p>
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='modernCardiff') }}"><p class="card-text text-center btn-outline-danger btn-lg">Modern History: Cardiff</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <a name="mid"></a>
            <div class="album py-5 bg-light">
              <div class="container text-center">
                <h2>Mid Wales Quizzes</h2>
                <p class="lead">A rural idyll only punctuated by the A470 and the 4 days of the Royal Welsh Show in July, Mid Wales has a lot to offer. From stunning castles, to isolated mountain walks, from ruined abbeys to the devil's bridge, mid Wales is a real delight. Explore its beauty through the quizzes below.</p>
                <hr>

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/7222/7270766756_19b0838f07_b.jpg" alt="powys geography quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">O3D license CC BY 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='powysGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">Powys</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/3661/3567260987_519a6d72b7.jpg" alt="mid wales castles" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">Simon Bunting license CC BY 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='midWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mid Wales Castles</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="http://s0.geograph.org.uk/geophotos/03/70/36/3703649_afe1a9ed.jpg" alt="mid wales geography quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">Philip Halling license CC BY-SA 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('smallquiz', quizName='midWalesGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mid Wales Geography</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/7118/7521938194_1c71716c13_b.jpg" alt="mid wales towns quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">WayShare license CC BY-ND 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='midWalesTowns') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mid Wales Towns</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/National_Library_of_Wales%2C_Aberystwyth_%28geograph_2298986%29.jpg" alt="historical mid wales quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">Dylan Moore license CC BY-SA 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='midWalesHistorical') }}"><p class="card-text text-center btn-outline-danger btn-lg">Mid Wales History</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/8420/8706622559_f78d7756b5.jpg" alt="heart of wales railway line quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">SpeckledOwl license CC BY-SA 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='heartWalesStations') }}"><p class="card-text text-center btn-outline-danger btn-lg">Heart of Wales Stations</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <a name="west"></a>
                <div class="album py-5 bg-light">
                  <div class="container text-center">
                    <h2>West Wales Quizzes</h2>
                    <p class="lead">A tourist's dream, West Wales is perhaps best known for its gorgeous beaches, from sweeping sandy bays like Poppit Sands through to tiny coves and plush marinas. The Pembrokeshire Coast National Park, established in 1952, means we should be able to enjoy these treasures for years to come. Explore this wonderfully remote and unspoilt part of Wales through the quizzes below.</p>
                    <hr>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="https://live.staticflickr.com/3474/3318940752_48885e6815_b.jpg" alt="west wales castles" width="100%" height="225">
                        <p class="text-right font-weight-light" style="color: darkgray;">Disgwylfa licensed CC BY 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">West Wales Castles</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="https://live.staticflickr.com/8588/16121875185_0ed56b3a08_b.jpg" alt="Pembrokeshire Quiz" width="100%" height="225">
                        <p class="text-right font-weight-light" style="color: darkgray;">branestawm2002 license CC BY 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('mediumquiz', quizName='pembrokeshireQuiz') }}"><p class="card-text text-center btn-outline-danger btn-lg">Pembrokeshire Quiz</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="https://live.staticflickr.com/2454/3976746325_4a68ca675f_b.jpg" alt="" width="100%" height="225">
                        <p class="text-right font-weight-light" style="color: darkgray;">El Toñio license CC BY-SA 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesTowns') }}"><p class="card-text text-center btn-outline-danger btn-lg">West Wales Towns</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="https://live.staticflickr.com/727/33088621122_05bec28f3b_b.jpg" alt="west wales geography quiz" width="100%" height="225">
                        <p class="text-right font-weight-light" style="color: darkgray;">bobba_dwj license CC BY-SA 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesGeo') }}"><p class="card-text text-center btn-outline-danger btn-lg">West Wales Geography</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="https://live.staticflickr.com/7919/47248760072_aa58d34225_b.jpg" alt="West Wales Beaches Quiz" width="100%" height="225">
                        <p class="text-right font-weight-light" style="color: darkgray;">alh1 license CC BY-ND 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesBeaches') }}"><p class="card-text text-center btn-outline-danger btn-lg">West Wales Beaches</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Carew_Castle_H1b.jpg" alt="Pembrokeshire Castle Quiz" width="100%" height="225">
                        <p class="text-right font-weight-light" style="color: darkgray;">Helge Klaus Rieder license CC0 1</p>
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='pembrokeCastles') }}"><p class="card-text text-center btn-outline-danger btn-lg">Pembrokeshire Castles</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



{% endblock %}