{% extends "base.html" %}

{% block head %} <meta name="description" content="Beautiful, interactive & free Welsh regional quizzes."> {% endblock %}

{% block title %} Regional Welsh Quizzes {% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Regions / Rhanbarthau</h1>
      <p class="lead"></p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
      <a href="#north" class="btn btn-outline-success my-2">North Wales Quizzes</a>
        <a href="#south" class="btn btn-outline-success my-2">South Wales Quizzes</a>
        <a href="#mid" class="btn btn-outline-success my-2">Mid Wales Quizzes</a>
        <a href="#west" class="btn btn-outline-success my-2">West Wales Quizzes</a>
      </p>
    </div>
  </section>

  <a name="north"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>North Wales Quizzes</h2>
      <p class="lead">Whether it's the sheer beauty of Snowdonia National Park, catching the view from the roof of Wales, or experiencing not one, or two, but three Areas of Outstanding Natural Beuaty, North Wales has an awful lot to offer the visitor. Explore its wonderful variety in the quizzes below.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='clwydTowns') }}"><p class="card-text text-center btn-outline btn-lg">Clwyd: largest towns</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1497122123454-d63853ca2d39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest towns in clwyd" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='northWales') }}"><p class="card-text text-center btn-outline btn-lg">North Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1516336300221-ac09f548afb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="north wales" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='northWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">North Wales Castles</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1557316276-20a327b894c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="north wales castles" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='gwyneddGeo') }}"><p class="card-text text-center btn-outline btn-lg">Gwynedd</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1592490578831-4c55bd5b06d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="gwynedd geography quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='historicNWales') }}"><p class="card-text text-center btn-outline btn-lg">Historic North Wales</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1581536673422-4b658b3dc145?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="historic north wales quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='stationsNorthWales') }}"><p class="card-text text-center btn-outline btn-lg">North Wales Stations</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/22/country-train.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="north wales railway stations" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='snowdoniaRegion') }}"><p class="card-text text-center btn-outline btn-lg">Snowdonia Attractions</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1597769007508-a38a5fb530ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="snowdonia quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='valeOfClwyd') }}"><p class="card-text text-center btn-outline btn-lg">Vale of Clwyd</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1561733868-0e01e6d7e3db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="vale of clwyd quiz" width="100%" height="225">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='angleseyRegion') }}"><p class="card-text text-center btn-outline btn-lg">Anglesey</p></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1568818161606-f2ee14826cf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1083&q=80" alt="anglesey quiz" width="100%" height="225">
          </div>
        </div>




      </div>



        <a name="south"></a>
        <div class="album py-5 bg-light">
          <div class="container text-center">
            <h2>South Wales Quizzes</h2>
            <p class="lead">As the most populated part of Wales, it would be easy to dwell on the myriad attractions of Wales' capital city: Cardiff. The rugby, the bay and the museums would all make for a fine visit. But South Wales has its natural beauty too, from the AONB that is the Gower to the stunning wilderness that is the Brecon Beacons National Park. Explore all that and more in the quizzes below.</p>
            <hr>


            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='cardiff') }}"><p class="card-text text-center btn-outline btn-lg">Cardiff</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1581118171588-22b86902387c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="cardiff" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('mediumquiz', quizName='ultimateM4') }}"><p class="card-text text-center btn-outline btn-lg">Ultimate M4 Quiz</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1595361314562-0ca40462f4f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="ultimate M4 quiz" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='southWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">South Wales Castles</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1595273647789-54432cefc8e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="south wales castles" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='historicCardiff') }}"><p class="card-text text-center btn-outline btn-lg">Historic Cardiff</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1590781748754-7fca14beeacd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="historic cardiff" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='southWales') }}"><p class="card-text text-center btn-outline btn-lg">South Wales</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1546874290-12688c0c77a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="south wales" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='monmouthshireGeo') }}"><p class="card-text text-center btn-outline btn-lg">Monmouthshire</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1560536270-b5855082dd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="monmouthshire geography quiz" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-2">
              </div>
          
            <div class="col-md-8">
            <div class="container text-center">
              <p class="lead"><b>Did you know?</b> In the midst of the Industrial Revolution the population of Wales doubled in-between 1801 and 1851.</p>
            </div>
            </div>
          
            <div class="col-md-2">
            </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('picturequiz', quizName='stationsCardiff') }}"><p class="card-text text-center btn-outline btn-lg">Cardiff's Railway Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1580987502658-6b7345783e6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="cardiff railway stations quiz" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='southEastCastles') }}"><p class="card-text text-center btn-outline btn-lg">South East Wales Castles</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1560536246-7759ea902771?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="south east wales castles" width="100%" height="225">
                </div>
              </div>


              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('picturequiz', quizName='stationsValleys') }}"><p class="card-text text-center btn-outline btn-lg">Valleys' Railway Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1526440690335-bda26950fa4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Valleys Railway Stations Quiz" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='cardiffKit') }}"><p class="card-text text-center btn-outline btn-lg">Cardiff City: kit</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/flagged/photo-1550413231-202a9d53a331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="welsh football" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='gwentTowns') }}"><p class="card-text text-center btn-outline btn-lg">Gwent: largest towns</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1587312775975-9d92dbc83e66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest towns in gwent" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <a href="{{ url_for('picturequiz', quizName='stationsSouthWales') }}"><p class="card-text text-center btn-outline btn-lg">South Wales Stations</p></a>
                      <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1542690563-ca10289ac117?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="south wales railway stations quiz" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('tenquiz', quizName='midGlamTowns') }}"><p class="card-text text-center btn-outline btn-lg">Mid-Glamorgan towns</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1567370778496-992ab85b965e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="largest towns in mid-glamorgan" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='breconBeaconsRegion') }}"><p class="card-text text-center btn-outline btn-lg">The Brecon Beacons</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1576628989930-9f5bb06f00a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="brecon beacons quiz" width="100%" height="225">
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <a href="{{ url_for('picturequiz', quizName='modernCardiff') }}"><p class="card-text text-center btn-outline btn-lg">Modern History: Cardiff</p></a>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                  <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1590781748522-c3f744eed34a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="modern history cardiff" width="100%" height="225">
                </div>
              </div>

            </div>

            <a name="mid"></a>
            <div class="album py-5 bg-light">
              <div class="container text-center">
                <h2>Mid Wales Quizzes</h2>
                <p class="lead">A rural idyll only punctuated by the A470 and the 4 days of the Royal Welsh Show in July, Mid Wales has a lot to offer. From stunning castles, to isolated mountain walks, from ruined abbeys to the devil's bridge, mid Wales is a real delight. Explore its beauty through the quizzes below.</p>
                <hr>

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='powysGeo') }}"><p class="card-text text-center btn-outline btn-lg">Powys</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1591629836044-19eeea15f587?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="powys geography quiz" width="100%" height="225">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='midWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">Mid Wales Castles</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1597172597115-0f61a626f5c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1037&q=80" alt="mid wales castles" width="100%" height="225">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <a href="{{ url_for('smallquiz', quizName='midWalesGeo') }}"><p class="card-text text-center btn-outline btn-lg">Mid Wales Geography</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1542395975-d6d3ddf91d6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="mid wales geography quiz" width="100%" height="225">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='midWalesTowns') }}"><p class="card-text text-center btn-outline btn-lg">The Towns of Mid Wales</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1595446700796-28b18aafeda7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1048&q=80" alt="mid wales towns quiz" width="100%" height="225">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='midWalesHistorical') }}"><p class="card-text text-center btn-outline btn-lg">The History of Mid Wales</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1569918731862-4181fbcc59b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="historical mid wales quiz" width="100%" height="225">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='heartWalesStations') }}"><p class="card-text text-center btn-outline btn-lg">Heart of Wales Stations</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1585398784645-58375edc31bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="heart of wales railway line quiz" width="100%" height="225">
                    </div>
                  </div>

                </div>

                <a name="west"></a>
                <div class="album py-5 bg-light">
                  <div class="container text-center">
                    <h2>West Wales Quizzes</h2>
                    <p class="lead">A tourist's dream, West Wales is perhaps best known for its gorgeous beaches, from sweeping sandy bays like Poppit Sands through to tiny coves and plush marinas. The Pembrokeshire Coast National Park, established in 1952, means we should be able to enjoy these treasures for years to come. Explore this wonderfully remote and unspoilt part of Wales through the quizzes below.</p>
                    <hr>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesCastles') }}"><p class="card-text text-center btn-outline btn-lg">West Wales Castles</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1578519668899-8965549aac62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="west wales castles" width="100%" height="225">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <a href="{{ url_for('mediumquiz', quizName='pembrokeshireQuiz') }}"><p class="card-text text-center btn-outline btn-lg">Pembrokeshire Quiz</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1566923243236-ec34afee9201?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Pembrokeshire Quiz" width="100%" height="225">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesTowns') }}"><p class="card-text text-center btn-outline btn-lg">West Wales Towns</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1523906947658-bb93228a9c82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" width="100%" height="225">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesGeo') }}"><p class="card-text text-center btn-outline btn-lg">West Wales Geography</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1563184956-eeb1a9a35362?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1071&q=80" alt="west wales geography quiz" width="100%" height="225">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='westWalesBeaches') }}"><p class="card-text text-center btn-outline btn-lg">The Beaches of West Wales</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1556221655-8742cd73c060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="West Wales Beaches Quiz" width="100%" height="225">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='pembrokeCastles') }}"><p class="card-text text-center btn-outline btn-lg">Pembrokeshire Castles</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1566981413685-58f716c6e4e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1019&q=80" alt="Pembrokeshire Castle Quiz" width="100%" height="225">
                      </div>
                    </div>



{% endblock %}