{% extends "base.html" %}

{% block title %} Welsh Quizzes: the home of Welsh trivia {% endblock %}

{% block content %}

<div class="container text-center">
  <h1 class="mt-5">Blog</h1>
</div>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h2 class="mt-5">{{ myObject.title }}</h2>
      <p class="lead">{{ myObject.text }}</p>
      <h3>{{ myObject.caption }}</h3>
      <img src="{{ myObject.image }}" class="img-fluid" alt="">
      <p class="text-center">{{ myObject.credit }}</p>
      <hr>
      </div>

</main>

{% endblock %}