{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Sport / Chwaraeon</h1>
      <p class="lead">There's <b>rugby</b> and then there's everything else. <b>Giggs</b> came close, <b>Bale</b> closer, but it wasn't until <b>Geraint</b> won the 2018 Tour that Wales dreamed like it does with rugby.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
        <a href="#rugby" class="btn btn-outline-success my-2">Welsh Rugby Quizzes</a>
        <a href="#football" class="btn btn-outline-success my-2">Welsh Football Quizzes</a>
        <a href="#other" class="btn btn-outline-success my-2">Other Welsh Sporting Quizzes</a>
      </p>
    </div>
  </section>


  <a name="rugby"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh Rugby Quizzes</h2>
      <p class="lead">Without question the national sport, especially in South Wales, Rugby dominates the sporting agenda with the <b>Autumn Internationals</b> and the <b>Six Nations</b> being key parts of every Welshman's year. There is nothing quite like a match day in Cardiff, with the streets a sea of red shirts and daffodils making their way to the Principality Stadium.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/6231/6868542756_49807ca18a_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='mostTries') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most tries</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1005/5190204039_1806376ed3_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='mostPoints') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most points</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8199/8219554427_db7a5dd275_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">simonw92 license CC BY-ND 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='rugbyMostCaps') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most caps</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/4090/5190203107_3da0d72816_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy is licensed under CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='sixNations') }}"><p class="card-text text-center btn-outline-danger btn-lg">Wales Six Nation Wins</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/6047/6246178676_81ee9c4a3d_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='rugbyOpponents') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Rugby: Opponents</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Millennium_Stadium%2C_Cardiff%2C_Wales%2C_UK.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">CivArmy license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='rugbyCoaches') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Rugby Coaches</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Jackson_Hall%2C_Westgate_Street%2C_Cardiff%2C_October_2018_15_09_47_791000.jpeg" alt="modern welsh rugby quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">No Swan So Fine license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='modernWelshRugby') }}"><p class="card-text text-center btn-outline-danger btn-lg">Modern Welsh Rugby Quiz</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7064/6862392522_fcb59bf3d3_b.jpg" alt="Six Nations Welsh Quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">National Assembly For Wales license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='sixNationsQuiz') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Six Nations</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8879/18461026705_de6924d33a_b.jpg" alt="Welsh rugby clubs quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Papchinskaya license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='rugbyCLubs') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Rugby Clubs</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

<a name="football"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh Football Quizzes</h2>
      <p class="lead">From the massive highs of Wales sweeping Belgium, then the world's second best side, away at Euro 2016 to the bitter taste of defeat to Russia in the Euro 2004 playoffs, Wales have always given us hope. Put your knowledge of Bale, Giggs and co to the test below!</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://farm8.staticflickr.com/7340/13993732949_86496aa82d_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Matthew Wilkinson license CC BY-ND 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='mostGoals') }}"><p class="card-text text-center btn-outline-danger btn-lg">Football: most goals</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://farm8.staticflickr.com/7511/15214437974_083f1d3c7c_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">grassrootsgroundswell license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='footballCaps') }}"><p class="card-text text-center btn-outline-danger btn-lg">Football: most caps</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group text-center">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/45/145188028_0017f59a54_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Oglord license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='biggestFootballGrounds') }}"><p class="card-text text-center btn-outline-danger btn-lg">Largest Football Grounds</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Nantporth_main_stand_2013.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Cls14 license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='welshPremierLeague') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cymru Premier Winners</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/The_Entrance_Channel_to_Barry_Harbour.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">M J Richardson license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='welshCup') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Cup Winners</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7204/6862730209_1b39858e48_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='cardiffKit') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cardiff City: kit</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8148/7643363984_bff6a979e9_b.jpg" alt="Wales euro 2016 quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='euro2016') }}"><p class="card-text text-center btn-outline-danger btn-lg">Wales: Euro 2016</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://farm3.staticflickr.com/2917/14157159536_b6410e12a9_b.jpg" alt="most goals by Welsh footballer in premier league quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Matthew Wilkinson license CC BY-ND 2</p>
            <div class="card-body">
              <a href="{{ url_for('twentyquiz', quizName='plGoals') }}"><p class="card-text text-center btn-outline-danger btn-lg">Most goals in PL</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Old_Trafford_-_panoramio_-_Flippo.jpg" alt="Ryan Giggs Quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Flippo license CC BY-SA 3</p>
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='ryanGiggs') }}"><p class="card-text text-center btn-outline-danger btn-lg">Ryan Giggs Quiz</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/3217/3135133775_24cc88ce8f.jpg" alt="Gareth Bale Quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">DANIEL IS CLEVER license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='garethBale') }}"><p class="card-text text-center btn-outline-danger btn-lg">Gareth Bale Quiz</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Emirates_Stadium_2000_03.jpg" alt="Aaron Ramsey Quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Zakarie Faibis license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='aaronRamsey') }}"><p class="card-text text-center btn-outline-danger btn-lg">Aaron Ramsey Quiz</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d8/Wiki15_Welsh_Dragon.svg" alt="welsh footballer with most permier league caps quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Jason.NLW license CC0 1</p>
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='plCaps') }}"><p class="card-text text-center btn-outline-danger btn-lg">Most PL games</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <a name="other"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Other Welsh Sporting Quizzes</h2>
      <p class="lead">In a land dominated by rugby, it's easy forget that there's a feast of other sports and sporting stars in Wales. From the multi-disciplinary success of Geraint Thomas, to the exploits of Mark Williams in the crucible, test your knowledge of Wales' other sports here.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7249/8160178124_f8d76f1d02.jpg" alt="geraint thomas stage races wins" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Mountain Bike Mt Cook, New Zealand license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='gThomasStageRaces') }}"><p class="card-text text-center btn-outline-danger btn-lg">Geraint Thomas: stage races</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/2011_wales_rally_gb_by_2eight_dsc0930.jpg" alt="wonderful welsh sporting events" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Stefan Brending (2eight) license CC BY-SA 3</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshSports') }}"><p class="card-text text-center btn-outline-danger btn-lg">Wonderful Welsh Sport Events</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/5291/5478662712_30b42fbb92_b.jpg" alt="wonderful welsh sporting arenas" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Brian Marshall license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('picturequiz', quizName='welshArenas') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Sporting Arenas</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/55/146733526_01a35beaa2_b.jpg" alt="2016 Welsh Olympic Medallists" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">SqueakyMarmot license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('elevenquiz', quizName='welshOlympians') }}"><p class="card-text text-center btn-outline-danger btn-lg">2016 Welsh Olympic Medallists</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/46/136678683_a854b1cebf_b.jpg" alt="Rio 2016 Welsh medallists" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">SqueakyMarmot license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('elevenquiz', quizName='welshOlympiansII') }}"><p class="card-text text-center btn-outline-danger btn-lg">2016 Welsh Olympic Medals II</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7210/6832895730_bb15c66637_b.jpg" alt="welsh snooker stars" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;"> konstmat license CC BY-ND 2</p>
            <div class="card-body">
              <a href="{{ url_for('fivequiz', quizName='welshSnooker') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Snooker Stars</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8566/16538795848_d605a6616c_b.jpg" alt="geraint thomas quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Glory Cycles license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('mediumquiz', quizName='gThomas') }}"><p class="card-text text-center btn-outline-danger btn-lg">Geraint Thomas</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/5563/14907472200_27c6d8f1b5_b.jpg" alt="welsh track cyclists quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">GCampbellHall license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='trackCyclists') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Track Cyclists</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Eirias_2006.jpg" alt="welsh athletics quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">AW76 license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('smallquiz', quizName='welshAthletics') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Athletics</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

{% endblock %}