{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Sport / Chwaraeon</h1>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
        <a href="#rugby" class="btn btn-outline-success my-2">Rugby</a>
        <a href="#football" class="btn btn-outline-success my-2">Football</a>
        <a href="#other" class="btn btn-outline-success my-2">Other</a>
      </p>
    </div>
  </section>


  <a name="rugby"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Rugby</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/6231/6868542756_49807ca18a_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='mostTries') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most tries</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/1005/5190204039_1806376ed3_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='mostPoints') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most points</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8199/8219554427_db7a5dd275_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">simonw92 license CC BY-ND 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='rugbyMostCaps') }}"><p class="card-text text-center btn-outline-danger btn-lg">Rugby: most caps</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/4090/5190203107_3da0d72816_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy is licensed under CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='sixNations') }}"><p class="card-text text-center btn-outline-danger btn-lg">Wales Six Nation Wins</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/6047/6246178676_81ee9c4a3d_b.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='rugbyOpponents') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Rugby: Opponents</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Millennium_Stadium%2C_Cardiff%2C_Wales%2C_UK.jpg" alt="welsh rugby" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">CivArmy license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='rugbyCoaches') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Rugby Coaches</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

<a name="football"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Football</h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://farm8.staticflickr.com/7340/13993732949_86496aa82d_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Matthew Wilkinson license CC BY-ND 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='mostGoals') }}"><p class="card-text text-center btn-outline-danger btn-lg">Football: most goals</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://farm8.staticflickr.com/7511/15214437974_083f1d3c7c_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">grassrootsgroundswell license CC BY 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='footballCaps') }}"><p class="card-text text-center btn-outline-danger btn-lg">Football: most caps</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group text-center">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/45/145188028_0017f59a54_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Oglord license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='biggestFootballGrounds') }}"><p class="card-text text-center btn-outline-danger btn-lg">Largest Football Grounds</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Nantporth_main_stand_2013.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">Cls14 license CC BY-SA 4</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='welshPremierLeague') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cymru Premier Winners</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/The_Entrance_Channel_to_Barry_Harbour.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">M J Richardson license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='welshCup') }}"><p class="card-text text-center btn-outline-danger btn-lg">Welsh Cup Winners</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/7204/6862730209_1b39858e48_b.jpg" alt="welsh football" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">joncandy license CC BY-SA 2</p>
            <div class="card-body">
              <a href="{{ url_for('tenquiz', quizName='cardiffKit') }}"><p class="card-text text-center btn-outline-danger btn-lg">Cardiff City: kit</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  <footer class="text-muted">
    <div class="container text-center">
        <p>Love Scottish trivia? Visit our sister site: <a href="https://www.weequiz.com">weequiz.com</a></p>
       <a href="#">Back to top</a>
    </div>
  </footer>

{% endblock %}