{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <h1 class="mt-5">Suggest a quiz</h1>
</div>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h2 class="mt-5">Got an idea?</h2>
      <p class="lead">welshquizzes.com is only as good as its content. Got a great idea for a quiz? Is there something you'd like us to do? Then get in touch below and we'll do our best to implement it.</p>
    </div>
    <hr>
      <div class="container text-center">
      <a href="mailto:weequiz@gmail.com?subject=Suggestion" class="btn btn-outline-success btn-block mb-2">Make a suggestion</a>
  </main>

{% endblock %}