{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Transport / Trafnidiaeth</h1>
      <p class="lead">It would be a fools-errand to argue that Wales is well-connected. Whether it's the 4 hours 30 minutes <b>Express</b> service from Cardiff to Holyhead, or the fact that more Welsh people fly from Bristol than Cardiff, Transport for Wales certainly has its work cut out. But if you pride scenery over connectivity, then Wales is the place to be, whether that's a heritage railway or the A470.</p>
      <p class="lead text-muted">Pick a topic or scroll down to start quizzing!</p>
      <a href="#railways" class="btn btn-outline-success my-2">Welsh Railways Quizzes</a>
        <a href="#other" class="btn btn-outline-success my-2">Other Welsh Transport Quizzes</a>
      </p>
    </div>
  </section>

  <a name="railways"></a>
  <div class="album py-5 bg-light">
    <div class="container text-center">
      <h2>Welsh Railways Quizzes</h2>
      <p class="lead">From the <b>oldest stations</b> in Wales to the <b>newest stations</b> in Wales through to the yet-to-be-built projects such as the <b>South Wales Metro</b> (not a Metro!), find all this and more in the quizzes below.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/8153/7228361544_f8a985e957_b.jpg" alt="ten oldest railway stations in Wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Helensification license CC BY-ND 2</p>
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='tenStations') }}"><p class="card-text text-center btn-outline btn-lg">Ten Oldest Stations</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Pye_Corner_station-Geograph-4012357-by-Robin-Drayton.jpg" alt="ten newest railway stations in Wales" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Robin Drayton license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='tenNewestStations') }}"><p class="card-text text-center btn-outline btn-lg">Ten Newest Stations</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Cynghordy_viaduct_%28geograph_3497215%29.jpg" alt="wales' quietest railway stations" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Nigel Brown license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('tenquiz', quizName='quietStations') }}"><p class="card-text text-center btn-outline btn-lg">Quietest Stations</p></a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>




        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://live.staticflickr.com/8249/8501688730_4f1d80695b_b.jpg" alt="cardiff railway stations quiz" width="100%" height="225">
            <p class="text-right font-weight-light" style="color: darkgray;">hugh llewelyn license CC BY-SA 2</p>
              <div class="card-body">
                <a href="{{ url_for('picturequiz', quizName='stationsCardiff') }}"><p class="card-text text-center btn-outline btn-lg">Cardiff's Railway Stations</p></a>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Pye_Corner_railway_station_sign.jpg" alt="Valleys Railway Stations Quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Steve Gregory license CC BY-SA 4</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='stationsValleys') }}"><p class="card-text text-center btn-outline btn-lg">Valleys' Railway Stations</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/8420/8706622559_f78d7756b5.jpg" alt="heart of wales railway line quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">SpeckledOwl license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='heartWalesStations') }}"><p class="card-text text-center btn-outline btn-lg">Heart of Wales Stations</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/2440/4032594594_8039c53ff8_b.jpg" alt="welsh heritage railway quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">mattbuck4950 license CC BY-SA 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='heritageRailways') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Heritage Railways</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Cardiff_Central_%2827034800925%29.jpg" alt="south wales railway stations quiz" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">Jeremy Segrott Cardiff, Wales, UK license CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='stationsSouthWales') }}"><p class="card-text text-center btn-outline btn-lg">South Wales Stations</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://live.staticflickr.com/195/483187409_efaab39f1e_b.jpg" alt="north wales railway stations" width="100%" height="225">
              <p class="text-right font-weight-light" style="color: darkgray;">The Ancient Brit license CC BY 2</p>
                <div class="card-body">
                  <a href="{{ url_for('picturequiz', quizName='stationsNorthWales') }}"><p class="card-text text-center btn-outline btn-lg">North Wales Stations</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>





        </div>


            <a name="other"></a>
            <div class="album py-5 bg-light">
              <div class="container text-center">
                <h2>Other Welsh Transport Quizzes</h2>
                <p class="lead">Whether it's the <b>Ultimate M4 Quiz</b> or the beauty of the <b>Crimea or Llanberis Passes</b>, test your knowledge of all types of Welsh transport here.</p>
                <hr>

                <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/1942/44106414974_226332413a_b.jpg" alt="A470 Quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">mattbuck4950 license CC BY-SA 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('smallquiz', quizName='a470') }}"><p class="card-text text-center btn-outline btn-lg">The A470</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/3917/14679175058_d8e10dabea_b.jpg" alt="welsh sea and airports" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;"></p>
                        <div class="card-body">
                          <a href="{{ url_for('smallquiz', quizName='seaAndAir') }}"><p class="card-text text-center btn-outline btn-lg">Ports (sea & air)</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/343/19327953498_d8c2a1ca2b_b.jpg" alt="ultimate M4 quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">Harshil.Shah license CC BY-ND 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('mediumquiz', quizName='ultimateM4') }}"><p class="card-text text-center btn-outline btn-lg">Ultimate M4 Quiz</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/3088/3238714943_167ef605f2_b.jpg" alt="Best Welsh Mountain Passes Quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">Stray Croc license CC BY-SA 2</p>
                        <div class="card-body">
                          <a href="{{ url_for('picturequiz', quizName='mountainPasses') }}"><p class="card-text text-center btn-outline btn-lg">Mountain Passes</p></a>
                          <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://s0.geograph.org.uk/geophotos/03/74/62/3746287_cd293ef5.jpg" alt="wales' busiest ports" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">Ian Capper license CC BY-SA 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('tenquiz', quizName='busiestPorts') }}"><p class="card-text text-center btn-outline btn-lg">Wales' Busiest Ports</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img src="https://live.staticflickr.com/5600/15275126510_415facb5cb_b.jpg" alt="welsh bridges quiz" width="100%" height="225">
                      <p class="text-right font-weight-light" style="color: darkgray;">muffinn license CC BY 2</p>
                      <div class="card-body">
                        <a href="{{ url_for('picturequiz', quizName='welshBridges') }}"><p class="card-text text-center btn-outline btn-lg">Welsh Bridges</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

{% endblock %}